<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quix event source Service'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>TS</h3>
        <div cardBody>
          <pre class="ts">{{ 'event.source.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/EventSource"
            target="_blank"
            >Documentazione</a
          >
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
