<div
  [class.form-check-inline]="inline"
  class="form-check"
>
  <input
    [attr.aria-checked]="_value"
    [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
    [attr.aria-disabled]="_disabled"
    [attr.aria-errormessage]="errorMessage && _errorMessage ? id + '-error' : ''"
    [attr.aria-invalid]="control.invalid && _errorMessage ? true : false"
    [attr.aria-label]="'ariaLabel' | transloco"
    [checked]="_value"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [id]="id + '-checkbox'"
    [name]="id + '-checkbox'"
    [ngClass]="customClass"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-check-input"
    type="checkbox"
  />
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.cursor-default]="control.disabled"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id + '-checkbox'"
    *ngIf="label"
    class="form-check-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.['required']">*</span>
  </label>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-checkbox-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [attr.aria-describedby]="id"
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-checkbox-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
