<div
  [class.form-check-inline]="inline"
  class="form-check"
>
  <input
    [attr.aria-checked]="_value"
    [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
    [attr.aria-disabled]="_disabled"
    [attr.aria-errormessage]="errorMessage && errorMessageKey ? id + '-error' : ''"
    [attr.aria-invalid]="ngControl?.invalid && errorMessageKey ? true : false"
    [attr.aria-label]="'ariaLabel' | transloco"
    [checked]="_value"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [id]="id + '-checkbox'"
    [name]="id + '-checkbox'"
    [ngClass]="customClass"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-check-input"
    type="checkbox"
  />
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.cursor-default]="ngControl?.disabled"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [htmlFor]="id + '-checkbox'"
    *ngIf="label"
    class="form-check-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.['required']">*</span>
  </label>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-checkbox-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
  <small
    [attr.aria-describedby]="id"
    [hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((ngControl?.valid && successMessage) || (ngControl?.invalid && errorMessage))
    "
    [id]="id + '-checkbox-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
