<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input file'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-file
              [acceptFileType]="'image/*'"
              [buttonClass]="['btn', 'btn-outline-secondary']"
              [buttonLabel]="'form.file.button.label'"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'file id'"
              [label]="'form.file.label'"
              [successMessage]="true"
              [tabIndex]="1"
              formControlName="file"
            >
              <i
                class="fas fa-upload"
                uploadIcon
              ></i>
            </quang-input-file>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['file'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.file.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.file.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Multi-File</h3>
        <div cardBody>
          <form [formGroup]="groupMulti">
            <quang-input-file
              [buttonClass]="['btn', 'btn-outline-secondary']"
              [buttonLabel]="'form.file.button.label'"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'file-min-max id'"
              [label]="'form.file.label'"
              [multiple]="true"
              [successMessage]="true"
              [tabIndex]="1"
              formControlName="file"
            >
              <i
                class="fas fa-upload"
                uploadIcon
              ></i>
            </quang-input-file>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ groupMulti.controls['file'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.file-multi.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.file-multi.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
