<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quix offline service'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <p>Ispeziona la pagina e nel tab network metti la pagina offline</p>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>TS</h3>
        <div cardBody>
          <pre class="ts">{{ 'dialog.offline.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
