<section
  class="container-fluid"
  id="form-array-array"
>
  <div class="row">
    <div class="col">
      <ks-title [title]="'Form array array'"></ks-title>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <form [formGroup]="group">
            <button
              (click)="addArray()"
              class="btn btn-outline-success"
            >
              Aggiungi Array
            </button>
            <div
              [formArrayName]="a"
              *ngFor="let a of groupKey"
              class="first-level"
            >
              <p>Array 1° livello, n°{{ a }}</p>
              <button
                (click)="addSubArray(a)"
                class="btn btn-outline-success"
              >
                Aggiungi sub array
              </button>
              <div
                [formArrayName]="i"
                *ngFor="let s of getArray(a).controls; let i = index"
                class="second-level"
              >
                <p>Array 2° livello, n°{{ i }}</p>
                <button
                  (click)="addArrayControl(a, i)"
                  class="btn btn-outline-success"
                >
                  Aggiungi control
                </button>
                <div
                  *ngFor="let c of getArrayControl(a, i).controls; let y = index"
                  class="mb-3"
                >
                  <label [htmlFor]="'control' + a + i + y">Control n°{{ y }}</label>
                  <input
                    [formControlName]="y"
                    [id]="'control'"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </form>
          value: {{ group.value | json }}
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'form.array-array.html' | transloco }}</pre>
          <pre class="ts">{{ 'form.array-array.code' | transloco }}</pre>
        </div>
      </quang-card>
    </div>
  </div>
</section>
