:host {
  display: block;

  input {
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 0.75rem;
      width: 0.75rem;
      background-image: url('./clear.svg');
      cursor: pointer;
    }
  }
}
