@if (componentType()) {
  <div class="mb-3">
    @if (componentLabel()) {
      <label
        [htmlFor]="componentId()"
        class="form-label"
      >
        {{ componentLabel() | transloco }}
        <span [hidden]="!_isRequired()">*</span>
      </label>
    }
    @if (componentType() !== 'textarea') {
      <div class="input-container">
        <input
          [attr.maxLength]="maxLengthText()"
          [attr.minLength]="minLengthText()"
          [attr.required]="getIsRequiredControl()"
          [class.is-invalid]="_showErrors()"
          [class.is-valid]="_showSuccess()"
          [class.with-button-password]="showHidePasswordButton()"
          [disabled]="_isDisabled()"
          [id]="componentId()"
          [max]="maxNumber()"
          [min]="minNumber()"
          [ngClass]="componentClass()"
          [placeholder]="componentPlaceholder() | transloco"
          [readOnly]="isReadonly()"
          [step]="componentStep()"
          [tabIndex]="componentTabIndex()"
          [type]="componentInputType()"
          [value]="_value()"
          (blur)="onBlurHandler()"
          (input)="onChangedEventHandler($event)"
          autocomplete="off"
          class="form-control"
        />
        @if (componentType() === 'password' && showHidePasswordButton()) {
          <button
            [class.border-danger]="_showErrors()"
            [class.border-success]="_showSuccess()"
            [ngClass]="buttonClass()"
            (click)="_ngControl()?.disabled ? null : onTogglePasswordVisibility()"
            #calendarButton
            aria-label="calendar-button"
            class="btn btn-outline-secondary btn-outline-password"
            type="button"
          >
            @if (showPassword()) {
              <ng-content select="[hide-password]"></ng-content>
            } @else {
              <ng-content select="[show-password]"></ng-content>
            }
          </button>
        }
      </div>
    }
    @if (componentType() === 'textarea') {
      <textarea
        [attr.maxLength]="maxLengthText()"
        [attr.minLength]="minLengthText()"
        [class.is-invalid]="_showErrors()"
        [class.is-valid]="_showSuccess()"
        [class.no-resize]="!resizable()"
        [disabled]="_isDisabled()"
        [id]="componentId()"
        [ngClass]="componentClass()"
        [placeholder]="componentPlaceholder() | transloco"
        [readOnly]="isReadonly()"
        [tabIndex]="componentTabIndex()"
        [value]="_value()"
        (blur)="onBlurHandler()"
        (input)="onChangedEventHandler($event)"
        class="form-control"
      ></textarea>
    }
    <div class="valid-feedback">
      {{ successMessage() | transloco }}
    </div>
    <div class="invalid-feedback">
      {{ _currentErrorMessage() | transloco: _currentErrorMessageExtraData() }}
    </div>
    @if (helpMessage()) {
      <small
        [hidden]="_showSuccess() || _showErrors()"
        aria-live="assertive"
        class="form-text text-muted"
      >
        {{ helpMessage() | transloco }}
      </small>
    }
  </div>
}
