<div class="mb-3">
  <label
    class="form-label"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [htmlFor]="id"
    [attr.aria-label]="ariaLabel"
    *ngIf="label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span></label
  >
  <input
    type="number"
    class="form-control"
    [id]="id"
    [placeholder]="placeholder | transloco"
    [ngClass]="customClass"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [max]="max"
    [min]="min"
    [pattern]="pattern"
    [readOnly]="readonly"
    [attr.aria-label]="ariaLabel"
    [tabIndex]="tabIndex"
    [step]="step"
    (input)="onChangedHandler($event)"
    (blur)="onTouched()"
    [autocomplete]="autocomplete"
    [class.form-control-lg]="size === 'lg'"
    [class.form-control-sm]="size === 'sm'"
    #input
  />
  <div class="valid-feedback">
    {{ _successMessage | transloco }}
  </div>
  <div
    class="invalid-feedback"
    [attr.aria-errormessage]="
      errorMessage && _errorMessage ? _errorMessage : ''
    "
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [id]="id + 'Help'"
    class="form-text text-muted"
    [hidden]="
      control?.dirty &&
      ((control?.valid && successMessage) || (control?.invalid && errorMessage))
    "
    *ngIf="helpMessage"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
