<section
  class="container-fluid"
  id="picture"
>
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang picture'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/PictureComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <quang-picture
            [alt]="'test'"
            [id]="'test'"
            [picture]="pic"
          ></quang-picture>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'image.picture.html' | transloco }}</pre>
          <pre class="ts">{{ 'image.picture.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
