<div class="form-check" [class.form-check-inline]="inline">
  <input
    type="checkbox"
    class="form-check-input"
    [name]="id"
    [id]="id"
    [attr.aria-checked]="_value"
    [attr.aria-label]="'ariaLabel' | transloco"
    [tabIndex]="tabIndex"
    [ngClass]="customClass"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    (input)="onChangedHandler($event)"
    (blur)="onTouched()"
    [attr.aria-disabled]="_disabled"
    [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
    [attr.aria-errormessage]="errorMessage && _errorMessage ? id + '-error' : ''"
    [attr.aria-invalid]="control.invalid && _errorMessage ? true : false"
    #input />
    <label
    class="form-check-label"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.cursor-default]="control.disabled"
    [htmlFor]="id"
    [attr.aria-label]="ariaLabel | transloco"
    *ngIf="label">
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.['required']">*</span>
  </label>
  <div class="valid-feedback" aria-live="assertive">
    {{ _successMessage | transloco }}
  </div>
  <div class="invalid-feedback" aria-live="polite" [id]="id + '-error'">
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [id]="id + '-help'"
    aria-live="assertive"
    [attr.aria-describedby]="id"
    class="form-text text-muted"
    [hidden]="
      control?.dirty &&
      ((control?.valid && successMessage) || (control?.invalid && errorMessage))
    "
    *ngIf="helpMessage">
    {{ _helpMessage | transloco }}
  </small>
</div>
