<div class="d-flex align-items-center">
  @for (menuItem of menuList; track $index; let last = $last) {
    <div
      [class.border-r-0]="!last"
      [quangOverlayPayload]="menuItem.children"
      [quangPopover]="children"
      class="menu-item"
      showMethod="click"
    >
      @if (menuItem.icon) {
        <svg-icon [src]="'./assets/' + menuItem.icon" />
      }
      <p class="m-0">
        {{ menuItem.description }}
      </p>
    </div>
  }
</div>

<ng-template
  #children
  let-children
>
  <ul class="child-menu">
    @for (child of children; track $index) {
      <li>
        <button
          (click)="navigateMenu(child.route)"
          class="btn"
          type="button"
        >
          {{ child.description }}
        </button>
      </li>
    }
  </ul>
</ng-template>
