<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <input
    [attr.aria-autocomplete]="'inline'"
    [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
    [attr.aria-disabled]="_disabled"
    [attr.aria-errormessage]="errorMessage && _errorMessage ? id + '-error' : ''"
    [attr.aria-invalid]="control?.invalid && _errorMessage ? true : false"
    [attr.aria-label]="ariaLabel | transloco"
    [attr.aria-placeholder]="placeholder | transloco"
    [attr.aria-readonly]="readonly"
    [autocomplete]="autocomplete"
    [class.form-control-lg]="size === 'lg'"
    [class.form-control-sm]="size === 'sm'"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [id]="id"
    [maxLength]="max"
    [minLength]="min"
    [ngClass]="customClass"
    [pattern]="pattern"
    [placeholder]="placeholder | transloco"
    [readOnly]="readonly"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-control"
    type="text"
  />
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [attr.aria-hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
