<div
  [class.sticky-table]="stickyTable"
  class="table-responsive"
>
  <ng-container *ngIf="tableConfigured.rows?.length">
    <div
      (scroll)="tableContainer.scrollLeft = tableHeaderContainer.scrollLeft"
      #tableHeaderContainer
      class="table-header-container"
      id="tableHeaderContainer"
    >
      <table
        #tableHeader
        id="tableHeader"
      >
        <thead>
          <tr>
            <ng-container *ngFor="let el of tableConfigured.headers; let i = index">
              <th class="align-bottom">
                <div
                  [class.pointer]="sortableTable()"
                  (click)="sortableTable() && el?.sort ? emitOrderTable(el.sort!) : null"
                  *ngIf="el.sort?.key"
                  class="d-flex justify-content-between"
                >
                  <div class="align-self-end">
                    {{ el.text | transloco }}
                  </div>
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
      </table>
    </div>
    <div
      (scroll)="tableHeaderContainer.scrollLeft = tableContainer.scrollLeft"
      #tableContainer
      class="table-container"
    >
      <table
        class="table"
        id="table-content"
      >
        <thead
          #fakeTableHeader
          class="fake-table-header"
          id="fakeTableHeader"
        >
          <tr>
            <ng-container *ngFor="let el of tableConfigured.headers; let i = index">
              <th class="align-bottom">
                <div class="d-flex justify-content-between">
                  <div class="align-self-end">
                    {{ el.text | transloco }}
                  </div>
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr
            [class.hover-table]="clickableRow()"
            [class.selectedRow]="row?.rowId ? isSelected(row.rowId!) : null"
            [ngClass]="row.css"
            (click)="clickableRow() ? onClickRow(row) : null"
            *ngFor="let row of tableConfigured.rows"
          >
            <td
              [ngClass]="cell.css!"
              *ngFor="let cell of row.cellData"
            >
              {{ !cell.renderer ? cell.text : null }}
              <ng-container
                [ngTemplateOutlet]="cell?.renderer ?? null"
                [ngTemplateOutletContext]="{
                  $implicit: cell.payload
                }"
              ></ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <h6
    *ngIf="!tableConfigured.rows?.length"
    class="text-center mt-3"
  >
    {{ 'table.noResults' | transloco }}
  </h6>
</div>

<div class="d-flex flex-column">
  <button
    class="d-flex btn p-0"
    type="button"
  >
    <svg
      fill="currentColor"
      height="24"
      stroke="currentColor"
      viewBox="0 -960 960 960"
      width="24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="m280-400 200-200 200 200H280Z"
        fill="currentColor"
        stroke="currentColor"
      />
    </svg>
  </button>
  <button
    class="d-flex btn p-0"
    type="button"
  >
    <svg
      fill="currentColor"
      height="24"
      stroke="currentColor"
      viewBox="0 -960 960 960"
      width="24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M480-360 280-560h400L480-360Z"
        fill="currentColor"
        stroke="currentColor"
      />
    </svg>
  </button>
</div>
