<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input checkbox'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/InputCheckboxComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-checkbox
              [autofocus]="true"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'checkbox id'"
              [label]="'form.checkbox.label'"
              [successMessage]="true"
              [tabIndex]="1"
              formControlName="checkbox"
            >
            </quang-input-checkbox>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['checkbox'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.checkbox.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.checkbox.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
