<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'FontAwesome Custom Icons'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^12.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>

        <div cardBody>
          <i class="fab fa-duckduckgo me-2"></i>
          <i class="fab fa-bmw mx-2"></i>
          <i class="fab fa-4k mx-2"></i>
          <dl class="mt-4">
            <dt>*install '@fortawesome/fontawesome-svg-core' dependency</dt>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.customIcons.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.customIcons.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
