<div class="mb-3 d-flex flex-column custom-radio">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.['required']">*</span>
  </label>
  <div [ngClass]="{ 'custom-row-radio': direction === 'row' }">
    <div
      [class.form-check-inline]="inline"
      *ngFor="let radio of radioList; let index = index"
      class="form-check"
    >
      <input
        [attr.aria-checked]="_value === radio[returnValue]"
        [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
        [attr.aria-disabled]="_disabled"
        [attr.aria-errormessage]="errorMessage && _errorMessage ? id + '-error' : ''"
        [attr.aria-invalid]="control.invalid"
        [attr.aria-labelledby]="label | transloco"
        [autocomplete]="autocomplete"
        [checked]="radio[returnValue]?.toString() === _value?.toString()"
        [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
        [class.is-valid]="control?.valid && control?.dirty && successMessage"
        [disabled]="_disabled"
        [id]="id + radio[labelValue]"
        [name]="groupName"
        [ngClass]="customClass"
        [tabIndex]="0"
        [value]="radio[returnValue]"
        (blur)="onTouched()"
        (input)="onChangedHandler($event)"
        #input
        class="form-check-input"
        role="radio"
        type="radio"
      />
      <label
        [attr.aria-label]="ariaLabel | transloco"
        [htmlFor]="id + radio[labelValue]"
        class="form-check-label"
      >
        {{ radio[labelValue] | transloco }}
      </label>
    </div>
  </div>
  <div
    [ngStyle]="{
      display: control?.valid && control?.dirty && successMessage ? 'block' : 'none'
    }"
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    [ngStyle]="{
      display: control?.invalid && control?.dirty && errorMessage ? 'block' : 'none'
    }"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [attr.aria-describedby]="id"
    [hidden]="control?.dirty && ((control.valid && successMessage) || (control.invalid && errorMessage))"
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
