<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Form group array'"></ks-title>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <button class="btn btn-outline-success" (click)="addArray1()">
            Aggiungi input array1
          </button>
          <button class="btn btn-outline-danger ml-1" (click)="removeArray1()">
            Rimuovi input array1
          </button>
          <form [formGroup]="group" class="mt-3">
            <ng-container formArrayName="array1">
              <div
                class="mb-3"
                *ngFor="let input of array1.controls; let i = index">
                <label [htmlFor]="'array1 ' + i"> Array1 text {{ i }} </label>
                <input
                  type="text"
                  [id]="'array1 ' + i"
                  [formControlName]="i"
                  class="form-control" />
              </div>
            </ng-container>
            <button class="btn btn-outline-success ml-1" (click)="addArray2()">
              Aggiungi input array2
            </button>
            <button
              class="btn btn-outline-danger ml-1"
              (click)="removeArray2()">
              Rimuovi input array2
            </button>
            <ng-container formArrayName="array2">
              <div
                class="mb-3"
                *ngFor="let input of array2.controls; let i = index">
                <label [htmlFor]="'array2 ' + i"> Array2 text {{ i }} </label>
                <input type="text" [id]="'array2 ' + i" class="form-control" />
              </div>
            </ng-container>
          </form>
          value: {{ group.value | json }}
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'form.group-array.html' | transloco }}</pre>
          <pre class="ts">{{ 'form.group-array.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
