<section
  class="container-fluid"
  id="data-table"
>
  <div class="row">
    <div class="col">
      <ks-title [title]="'Data table'"></ks-title>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>Demo</h4>
        <div cardBody>
          <table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            mat-table
          >
            <ng-container matColumnDef="position">
              <th
                *matHeaderCellDef
                mat-header-cell
              >
                No.
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.position }}
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th
                *matHeaderCellDef
                mat-header-cell
              >
                Name
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="weight">
              <th
                *matHeaderCellDef
                mat-header-cell
              >
                Weight
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.weight }}
              </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th
                *matHeaderCellDef
                mat-header-cell
              >
                Symbol
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.symbol }}
              </td>
            </ng-container>
            <tr
              *matHeaderRowDef="displayedColumns"
              mat-header-row
            ></tr>
            <tr
              *matRowDef="let row; columns: displayedColumns"
              mat-row
            ></tr>
          </table>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>HTML TS</h4>
        <div cardBody>
          <pre class="html">{{ 'lib.data-table.html' | transloco }}</pre>
          <pre class="ts">{{ 'lib.data-table.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>Ordinamento</h4>
        <div cardBody>
          <table
            [dataSource]="sortDataSource"
            class="mat-elevation-z8"
            mat-table
            matSort
          >
            <ng-container matColumnDef="position">
              <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by number"
              >
                No.
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.position }}
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by name"
              >
                Name
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="weight">
              <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by weight"
              >
                Weight
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.weight }}
              </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by symbol"
              >
                Symbol
              </th>
              <td
                *matCellDef="let element"
                mat-cell
              >
                {{ element.symbol }}
              </td>
            </ng-container>
            <tr
              *matHeaderRowDef="displayedColumns"
              mat-header-row
            ></tr>
            <tr
              *matRowDef="let row; columns: displayedColumns"
              mat-row
            ></tr>
          </table>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>HTML TS</h4>
        <div cardBody>
          <pre class="html">{{ 'lib.data-table.sort-html' | transloco }}</pre>
          <pre class="ts">{{ 'lib.data-table.sort-code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>sticky</h4>
        <div cardBody>
          <div class="example-container mat-elevation-z8">
            <table
              [dataSource]="dataSource"
              mat-table
            >
              <ng-container matColumnDef="position">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                >
                  No.
                </th>
                <td
                  *matCellDef="let element"
                  mat-cell
                >
                  {{ element.position }}
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                >
                  Name
                </th>
                <td
                  *matCellDef="let element"
                  mat-cell
                >
                  {{ element.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                >
                  Weight
                </th>
                <td
                  *matCellDef="let element"
                  mat-cell
                >
                  {{ element.weight }}
                </td>
              </ng-container>
              <ng-container matColumnDef="symbol">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                >
                  Symbol
                </th>
                <td
                  *matCellDef="let element"
                  mat-cell
                >
                  {{ element.symbol }}
                </td>
              </ng-container>
              <tr
                *matHeaderRowDef="displayedColumns; sticky: true"
                mat-header-row
              ></tr>
              <tr
                *matRowDef="let row; columns: displayedColumns"
                mat-row
              ></tr>
            </table>
          </div>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>HTML TS</h4>
        <div cardBody>
          <pre class="html">{{ 'lib.data-table.sticky-html' | transloco }}</pre>
          <pre class="ts">{{ 'lib.data-table.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <ul>
            <li>
              <a href="https://material.angular.io/components/table/overview">Data table</a>
            </li>
          </ul>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
