$icon-font-path: '/kitchen-sink/assets/fonts';

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Bold.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Bold.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Light.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Light.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Thin.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Thin.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Medium.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Medium.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-MediumItalic.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-MediumItalic.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Black.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Black.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-BoldItalic.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-BoldItalic.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Italic.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Italic.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-BlackItalic.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-BlackItalic.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-ThinItalic.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-ThinItalic.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-LightItalic.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-LightItalic.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$icon-font-path}/Roboto-Regular.woff2') format('woff2'),
    url('#{$icon-font-path}/Roboto-Regular.woff') format('woff'),
    url('#{$icon-font-path}/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
