<div class="mb-3 slider-wrapper">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <div class="slider-container">
    <input
      [attr.aria-label]="ariaLabel | transloco"
      [class.is-invalid]="control?.invalid && control?.dirty"
      [class.is-valid]="control?.valid && control?.dirty"
      [class.vertical]="vertical"
      [disabled]="disabled"
      [id]="id"
      [max]="maxValue"
      [min]="minValue"
      [ngClass]="customClass"
      [ngStyle]="{ width: vertical ? null : '100%' }"
      [step]="interval"
      (blur)="onTouched()"
      (change)="onChangedHandler($event)"
      #input
      class="form-range"
      type="range"
    />
  </div>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
