<div class="mb-3 slider-wrapper">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.required">*</span>
  </label>
  <div class="slider-container">
    <input
      [attr.aria-label]="ariaLabel | transloco"
      [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
      [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched)"
      [class.vertical]="vertical"
      [disabled]="disabled"
      [id]="id"
      [max]="maxValue"
      [min]="minValue"
      [ngClass]="customClass"
      [ngStyle]="{ width: vertical ? null : '100%' }"
      [step]="interval"
      (blur)="onTouched()"
      (change)="onChangedHandler($event)"
      #input
      class="form-range"
      type="range"
    />
  </div>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
  <small
    [hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((ngControl?.valid && successMessage) || (ngControl?.invalid && errorMessage))
    "
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
