:host {
  display: block;
  .option-list-container {
    position: relative;
  }
}

.form-select {
  height: 2.375rem;
  &:disabled {
    background-image: unset;
  }
}

.content {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
