<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Accessible form'"></ks-title>
      <p>Form di test per accessibilità dei componenti di Quang</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Form</h3>
        <div cardBody>
          <form [formGroup]="group">
            <div class="row">
              <div class="col-6">
                <quang-input-text
                  [ariaLabel]="'accessibility.form.userName.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [helpMessage]="false"
                  [id]="'userName'"
                  [label]="'accessibility.form.userName.label'"
                  [max]="50"
                  [min]="0"
                  [placeholder]="'accessibility.form.userName.ph'"
                  [successMessage]="true"
                  formControlName="userName"
                  tabindex="0"
                ></quang-input-text>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <quang-input-text
                  [ariaLabel]="'accessibility.form.firstName.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'firstName id'"
                  [label]="'accessibility.form.firstName.label'"
                  [max]="50"
                  [min]="0"
                  [placeholder]="'accessibility.form.firstName.ph'"
                  [successMessage]="true"
                  formControlName="firstName"
                  tabindex="0"
                ></quang-input-text>
              </div>
              <div class="col-6">
                <quang-input-text
                  [ariaLabel]="'accessibility.form.lastName.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'lastName id'"
                  [label]="'accessibility.form.lastName.label'"
                  [max]="50"
                  [min]="0"
                  [placeholder]="'accessibility.form.lastName.ph'"
                  [successMessage]="true"
                  formControlName="lastName"
                  tabindex="0"
                ></quang-input-text>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <quang-input-email
                  [ariaLabel]="'accessibility.form.email.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'email id'"
                  [label]="'accessibility.form.email.label'"
                  [max]="50"
                  [min]="0"
                  [placeholder]="'accessibility.form.email.ph'"
                  [successMessage]="true"
                  formControlName="email"
                  tabindex="0"
                ></quang-input-email>
              </div>
              <div class="col-6">
                <quang-input-date
                  [ariaLabel]="'accessibility.form.date.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [buttonClass]="['btn', 'btn-outline-secondary']"
                  [dateFormat]="'DD-MM-YYYY'"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'date'"
                  [label]="'accessibility.form.date.label'"
                  [placeholder]="'accessibility.form.date.ph'"
                  [successMessage]="true"
                  formControlName="date"
                  tabindex="0"
                  ><i
                    calendarIcon
                    class="fas fa-calendar-alt"
                  ></i>
                </quang-input-date>
              </div>
              <div class="col-6">
                <quang-input-date
                  [ariaLabel]="'accessibility.form.date.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [buttonClass]="['btn', 'btn-outline-secondary']"
                  [dateFormat]="'DD-MM-YYYY'"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'datee'"
                  [label]="'accessibility.form.date.label'"
                  [placeholder]="'accessibility.form.date.ph'"
                  [successMessage]="true"
                  formControlName="datee"
                  tabindex="0"
                  ><i
                    calendarIcon
                    class="fas fa-calendar-alt"
                  ></i>
                </quang-input-date>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <quang-input-tel
                  [ariaLabel]="'accessibility.form.phone.label'"
                  [autocomplete]="'off'"
                  [autofocus]="true"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'phone id'"
                  [label]="'accessibility.form.phone.label'"
                  [max]="10"
                  [min]="9"
                  [placeholder]="'accessibility.form.phone.ph'"
                  [successMessage]="true"
                  formControlName="phone"
                  tabindex=""
                ></quang-input-tel>
              </div>
              <div class="col-6">
                <!-- <quang-input-radio
                  tabindex="0"
                  [label]="'accessibility.form.sex.label'"
                  [ariaLabel]="'accessibility.form.sex.label'"
                  [errorMessage]="true"
                  [helpMessage]="false"
                  [autocomplete]="'off'"
                  [id]="'sex id'"
                  [autofocus]="true"
                  [radioList]="list"
                  [returnValue]="'value'"
                  [labelValue]="'text'"
                  [formName]="'accessibility.form'"
                  [groupName]="'radio-group'"
                  formControlName="sex"></quang-input-radio>
                  {{group.controls['sex'].value}} -->
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <quang-input-checkbox
                  [ariaLabel]="'accessibility.form.checkbox.label'"
                  [autofocus]="true"
                  [errorMessage]="true"
                  [formName]="'accessibility.form'"
                  [id]="'consent id'"
                  [label]="'accessibility.form.checkbox.label'"
                  [successMessage]="true"
                  formControlName="checkbox"
                  tabindex="0"
                ></quang-input-checkbox>
              </div>
              <div class="col-6 text-end">
                <button
                  class="btn btn-primary"
                  type="submit"
                >
                  Salva
                </button>
              </div>
            </div>
          </form>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
