<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id + '-fraction'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <div class="input-group">
    <div class="input-group-prepend">
      <button
        [disabled]="_disabled || readonly"
        [ngClass]="addButtonClass"
        (click)="addInteger()"
        type="button"
      >
        <ng-content select="[addIntegerIcon]"></ng-content>
      </button>
    </div>
    <input
      [attr.aria-autocomplete]="'inline'"
      [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
      [attr.aria-disabled]="_disabled"
      [attr.aria-errormessage]="errorMessage && _errorMessage ? id + '-error' : ''"
      [attr.aria-invalid]="control.invalid"
      [attr.aria-label]="ariaLabel | transloco"
      [attr.aria-readonly]="readonly"
      [autocomplete]="autocomplete"
      [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
      [class.is-valid]="control?.valid && control?.dirty && successMessage"
      [id]="id + '-fraction-dec'"
      [ngClass]="customClass"
      [readOnly]="readonly"
      [step]="stepInteger"
      [tabIndex]="tabIndex"
      (blur)="onTouched()"
      (input)="writeValueInteger($event)"
      #inputInteger
      class="form-control text-right"
      type="text"
    />
    <div class="input-group-append">
      <button
        [disabled]="_disabled || readonly"
        [ngClass]="removeButtonClass"
        (click)="removeInteger()"
        type="button"
      >
        <ng-content select="[removeIntegerIcon]"></ng-content>
      </button>
    </div>
    <div class="input-group-append">
      <span class="input-group-text">,</span>
    </div>
    <div class="input-group-append">
      <button
        [disabled]="_disabled || readonly"
        [ngClass]="addButtonClass"
        (click)="addFraction()"
        type="button"
      >
        <ng-content select="[addFractionIcon]"></ng-content>
      </button>
    </div>
    <input
      [attr.aria-autocomplete]="autocomplete"
      [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-fraction-help' : ''"
      [attr.aria-disabled]="_disabled"
      [attr.aria-errormessage]="errorMessage && _errorMessage ? id + '-fraction-error' : ''"
      [attr.aria-invalid]="control.invalid"
      [attr.aria-label]="ariaLabel | transloco"
      [attr.aria-readonly]="readonly"
      [autocomplete]="autocomplete"
      [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
      [class.is-valid]="control?.valid && control?.dirty && successMessage"
      [disabled]="_disabled || readonly"
      [id]="id + '-fraction-int'"
      [ngClass]="customClass"
      [readOnly]="readonly"
      [step]="stepFraction"
      (blur)="onTouched()"
      (input)="writeValueFraction($event)"
      #inputFraction
      class="form-control"
      type="text"
    />
    <div class="input-group-append">
      <button
        [disabled]="_disabled || readonly"
        [ngClass]="removeButtonClass"
        (click)="removeFraction()"
        type="button"
      >
        <ng-content select="[removeFractionIcon]"></ng-content>
      </button>
    </div>
    <div
      aria-live="assertive"
      class="valid-feedback"
    >
      {{ _successMessage | transloco }}
    </div>
    <div
      [id]="id + '-error'"
      aria-live="polite"
      class="invalid-feedback"
    >
      {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
    </div>
  </div>
  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-fraction-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
