<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang datalist'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^12.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/DatalistComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-datalist
              [label]="'form.datalist.label'"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [tabIndex]="1"
              [id]="'test'"
              [autofocus]="true"
              [formName]="'form'"
              [list]="list"
              formControlName="select"></quang-datalist>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['select'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.datalist.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.datalist.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
