<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang text editor'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/TextEditorComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-text-editor
              [label]="'form.texteditor.label'"
              [placeholder]="'form.texteditor.ph'"
              [min]="0"
              [max]="500"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [tabIndex]="1"
              [id]="'texteditor id'"
              [autofocus]="true"
              [formName]="'form'"
              formControlName="text"></quang-text-editor>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['text'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.texteditor.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.texteditor.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Bars</h3>
        <div cardBody>
          <form [formGroup]="groupBars">
            <quang-text-editor
              [label]="'form.texteditor.label'"
              [placeholder]="'form.texteditor.ph'"
              [min]="0"
              [max]="500"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [tabIndex]="2"
              [id]="'texteditor-bars id'"
              [listBar]="true"
              [textTypeBar]="true"
              [textStyleBar]="true"
              [alignBar]="true"
              [fontBar]="true"
              [mediaBar]="true"
              [headerBar]="true"
              [sizeBar]="true"
              [emojiBar]="true"
              [indentBar]="true"
              [formName]="'form'"
              formControlName="text"></quang-text-editor>
<!--            <input type="text" formControlName="text">-->
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ groupBars.controls['text'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.texteditor-bars.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.texteditor-bars.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Formato HTML</h3>
        <div cardBody>
          <form [formGroup]="groupHtml">
            <quang-text-editor
              [label]="'form.texteditor.label'"
              [placeholder]="'form.texteditor.ph'"
              [min]="0"
              [max]="500"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [tabIndex]="3"
              [id]="'texteditor-html id'"
              [returnHtml]="true"
              [listBar]="true"
              [textTypeBar]="true"
              [textStyleBar]="true"
              [alignBar]="true"
              [fontBar]="true"
              [mediaBar]="true"
              [headerBar]="true"
              [sizeBar]="true"
              [emojiBar]="true"
              [indentBar]="true"
              [formName]="'form'"
              formControlName="text"></quang-text-editor>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ groupHtml.controls['text'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.texteditor-html.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.texteditor-html.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
