<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="errorMessage && ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
    [class.is-valid]="successMessage && ngControl?.valid && (ngControl?.dirty || ngControl?.touched)"
    [htmlFor]="id + '-password'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.required">*</span>
  </label>
  <div class="input-group">
    <input
      [attr.aria-errormessage]="errorMessage && errorMessageKey ? id + '-text-error' : ''"
      [attr.aria-invalid]="errorMessage && ngControl?.invalid ? true : false"
      [attr.aria-label]="ariaLabel | transloco"
      [autocomplete]="autocomplete"
      [class.form-control-lg]="size === 'lg'"
      [class.form-control-sm]="size === 'sm'"
      [class.is-invalid]="errorMessage && ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
      [class.is-valid]="successMessage && ngControl?.valid && (ngControl?.dirty || ngControl?.touched)"
      [id]="id + '-password'"
      [ngClass]="customClass"
      [pattern]="pattern"
      [placeholder]="placeholder | transloco"
      [readOnly]="readonly"
      [tabIndex]="tabIndex"
      [type]="_type"
      (blur)="onTouched()"
      (input)="onChangedHandler($event)"
      #input
      class="form-control"
    />
    <div
      [hidden]="!viewPassword"
      class="input-group-append"
    >
      <button
        [disabled]="_disabled"
        [id]="'button-addon' + id"
        [ngClass]="buttonClass"
        (click)="toggleType()"
        aria-label="show password"
        class="btn"
        type="button"
      >
        <span [hidden]="_type === 'text'">
          <ng-content select="[iconView]"></ng-content>
        </span>
        <span [hidden]="_type === 'password'">
          <ng-content select="[iconHide]"></ng-content>
        </span>
      </button>
    </div>
    <div
      aria-live="assertive"
      class="valid-feedback"
    >
      {{ _successMessage | transloco }}
    </div>
    <div
      [id]="id + '-password-error'"
      aria-live="polite"
      class="invalid-feedback"
    >
      {{ errorMessageKey | transloco: { requiredValue } }}
    </div>
  </div>
  <small
    [attr.aria-hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((successMessage && ngControl?.valid) || (errorMessage && ngControl?.invalid))
    "
    [hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((successMessage && ngControl?.valid) || (errorMessage && ngControl?.invalid))
    "
    [id]="id + '-password-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
