<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang google map'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardaction
          href="https://rd.quix.it/quang/components/GoogleMapComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <quang-google-map
            [id]="'test'"
            [height]="'50vh'"
            [defaultCenter]="[44.6584095, 10.8889166]"
            [defaultZoom]="15"></quang-google-map>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML</h3>
        <div cardBody>
          <pre class="html">{{ 'map.google.html' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
