<div class="mb-3">
  {{ _isDisabled() }}
  <label
    [htmlFor]="componentId()"
    *ngIf="componentLabel()"
    class="form-label"
  >
    {{ componentLabel() | transloco }}
    <span [hidden]="!_isRequired()">*</span>
  </label>
  <div
    [class.is-invalid]="_showErrors()"
    [class.is-valid]="_showSuccess()"
    class="input-wysiwyg-container is-invalid"
  >
    <textarea
      [disabled]="_isDisabled()"
      [id]="componentId()"
      [ngClass]="componentClass()"
      [placeholder]="componentPlaceholder() | transloco"
      [readOnly]="isReadonly()"
      [tabIndex]="componentTabIndex()"
      [value]="_value()"
      #inputForWysiwyg
      class="form-control"
    ></textarea>
  </div>
  <div class="valid-feedback">
    {{ successMessage() | transloco }}
  </div>
  <div class="invalid-feedback">
    {{ _currentErrorMessage() | transloco: _currentErrorMessageExtraData() }}
  </div>
  <small
    [hidden]="_showSuccess() || _showErrors()"
    *ngIf="helpMessage()"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ helpMessage() | transloco }}
  </small>
</div>
