<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id + '-area'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <textarea
    [attr.aria-label]="ariaLabel | transloco"
    [autofocus]="autofocus"
    [cdkAutosizeMaxRows]="rows"
    [cdkAutosizeMinRows]="0"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [cols]="cols"
    [disabled]="_disabled"
    [id]="id + '-area'"
    [maxLength]="max"
    [minLength]="min"
    [ngClass]="customClass"
    [ngStyle]="{ resize: resizeMode }"
    [placeholder]="placeholder | transloco"
    [readOnly]="readonly"
    [rows]="rows"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #autosize="cdkTextareaAutosize"
    #input
    cdkTextareaAutosize
    class="form-control"
  ></textarea>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>

  <div
    [id]="id + '-area-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>

  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-area-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
