<div
  [ngClass]="customClass"
  class="mb-3 quang-input-file"
>
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [htmlFor]="id + '-file'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.['required']">*</span>
  </label>
  <ngx-file-drop
    [accept]="acceptFileType"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [disabled]="_disabled"
    [dropZoneLabel]="_dropMessage | transloco"
    [id]="id + '-file'"
    [multiple]="multiple"
    (blur)="onTouched()"
    (onFileDrop)="onChangedHandler($event)"
    (onFileLeave)="fileLeave($event)"
    (onFileOver)="fileOver($event)"
    #input
  >
    <ng-template
      let-openFileSelector="openFileSelector"
      ngx-file-drop-content-tmp
    >
      <ng-content select="[uploadIcon]"></ng-content>
      <p *ngFor="let f of _values; let i = index">
        <button
          [disabled]="input.disabled"
          (click)="deleteFiles(i)"
          class="btn btn-link btn-sm"
          type="button"
        >
          &times;
        </button>
        {{ f.name }}
      </p>
      <p [hidden]="!_value">
        <button
          [disabled]="input.disabled"
          (click)="deleteFile()"
          class="btn btn-link btn-sm break-words"
          type="button"
        >
          &times;
          {{ _value?.name }}
        </button>
      </p>
      <button
        [disabled]="_disabled"
        [ngClass]="buttonClass"
        (click)="openFileSelector()"
        #inputBtn
        type="button"
      >
        {{ buttonLabel | transloco }}
      </button>
    </ng-template>
  </ngx-file-drop>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-file-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
  <small
    [hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((ngControl?.valid && successMessage) || (ngControl?.invalid && errorMessage))
    "
    [id]="id + '-file-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
