<h3>{{ 'title.components.input' | transloco }}</h3>
<form
  [formGroup]="testForm()"
  *ngIf="showInput()"
>
  <quang-checkbox
    [errorMap]="errors()"
    [isReadonly]="isReadonly()"
    checkType="toggle"
    class="col-3"
    componentId="toggle"
    componentLabel="form.label.input"
    formControlName="toggle"
    labelPosition="top"
    successMessage="tutto bello!"
  ></quang-checkbox>

  <quang-checkbox
    [errorMap]="errors()"
    [isReadonly]="isReadonly()"
    checkType="checkbox"
    class="col-2"
    componentId="check"
    componentLabel="form.label.input"
    formControlName="checkbox"
    labelPosition="left"
    successMessage="tutto bello!"
  ></quang-checkbox>
</form>
<button (click)="changeFormEnabled()">change form enabled {{ testForm().enabled }}</button>
<button (click)="changeFormInputRequired()">change input form required. Actual {{ getIsRequiredInput() }}</button>
<button (click)="changeVisibility()">change visibility</button>
<button (click)="recreateForm()">recreate form</button>
<button (click)="setFormValues()">set form</button>
<button (click)="checkCurrentFormValueAndValidity()">check current form value and validity</button>
<button (click)="setReadonly()">current readonly: {{ isReadonly() }}</button>
