<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang toast'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <button
            (click)="openToast()"
            class="btn btn-outline-success"
            type="button"
          >
            Apri toast
          </button>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'dialog.toast.html' | transloco }}</pre>
          <pre class="ts">{{ 'dialog.toast.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a
            href="https://getbootstrap.com/docs/5.1/components/toasts/"
            target="_blank"
            >Bootstrap toast</a
          >
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
