<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Pdf'"></ks-title>
    </div>
    <div class="col text-right"></div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <button class="btn btn-outline-success" (click)="create()">
            Crea PDF
          </button>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>TS</h3>
        <div cardBody>
          <pre class="ts">{{ 'lib.pdf.js' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <ul>
            <li>
              <a href="https://www.npmjs.com/package/pdfmake" target="_blank"
                >pdf make</a
              >
            </li>
            <li>
              <a
                href="https://www.c-sharpcorner.com/article/client-side-pdf-generation-in-angular-with-pdfmake/"
                target="_blank"
                >Tutorial</a
              >
            </li>
          </ul>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
