.form-control {
  &.is-valid,
  &.is-invalid {
    background-position: center right calc(0.375em + 1rem);
  }
}

button {
  height: 38px;
}

.option-list {
  width: 100%;
  height: fit-content;

  .item {
    list-style-type: none;
    margin-bottom: 0.25rem !important;
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
    height: 100%;

    .checkbox-label {
      vertical-align: bottom;

      &:hover {
        cursor: pointer;
      }
    }

    .checkbox {
      width: 20px;
      height: 18px;
      min-height: unset;
      margin: 0;
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      background-color: #f0f0f0;
    }
  }
}

.content {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.multi-select-popover {
  &.popover {
    width: 100%;
    max-width: unset;
    margin-top: 0 !important;
    overflow: auto !important;
  }

  .popover-content {
    width: 100%;
    max-height: 200px;
    padding: 0.5rem 0;
  }

  .popover.bottom .arrow {
    display: none !important;
  }
}
