<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Card'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Header</h3>
        <div cardBody>Body</div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML</h3>
        <div cardBody>
          <pre class="html">{{
            'components.card-header.html' | transloco
          }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
