<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Array JS'"></ks-title>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Array</h3>
        <div cardBody>
          <div class="row">
            <div class="col-4">
              <div class="mb-3">
                <form [formGroup]="group">
                  <textarea
                    class="form-control"
                    formControlName="array"
                    rows="6"
                  ></textarea>
                </form>
              </div>
            </div>
            <div class="col-4">
              <dl>
                <dt>Value:</dt>
                <dd>{{ _array | json }}</dd>
              </dl>
            </div>
            <div class="col-4">
              <dl>
                <dt>For loop:</dt>
                <dd>{{ _forResult | json }}</dd>
                <dt>Array method:</dt>
                <dd>{{ _methodResult | json }}</dd>
                <dt>Spread operator:</dt>
                <dd>{{ _spread | json }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Metodi</h3>
        <div cardBody>
          <tabset type="pills">
            <tab heading="forEach">
              <pre class="p-3">{{ 'js.array.forEach' | transloco }}</pre>
              <button
                (click)="demoForEach()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="indexOf">
              <pre class="p-3">{{ 'js.array.indexOf' | transloco }}</pre>
              <button
                (click)="demoIndexOf()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="lastIndexOf">
              <pre class="p-3">{{ 'js.array.lastIndexOf' | transloco }}</pre>
              <button
                (click)="demoLastIndexOf()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="includes">
              <pre class="p-3">{{ 'js.array.includes' | transloco }}</pre>
              <button
                (click)="demoIncludes()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="join">
              <pre class="p-3">{{ 'js.array.join' | transloco }}</pre>
              <button
                (click)="demoJoin()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="fill">
              <pre class="p-3">{{ 'js.array.fill' | transloco }}</pre>
              <button
                (click)="demoFill()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="flat">
              <pre class="p-3">{{ 'js.array.flat' | transloco }}</pre>
              <button
                (click)="demoFlat()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="flatMap">
              <pre class="p-3">{{ 'js.array.flatMap' | transloco }}</pre>
              <button
                (click)="demoFlatMap()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="find">
              <pre class="p-3">{{ 'js.array.find' | transloco }}</pre>
              <button
                (click)="demoFind()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="findIndex">
              <pre class="p-3">{{ 'js.array.findIndex' | transloco }}</pre>
              <button
                (click)="demoFindIndex()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="some">
              <pre class="p-3">{{ 'js.array.some' | transloco }}</pre>
              <button
                (click)="demoSome()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="every">
              <pre class="p-3">{{ 'js.array.every' | transloco }}</pre>
              <button
                (click)="demoEvery()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="sort">
              <pre class="p-3">{{ 'js.array.sort' | transloco }}</pre>
              <button
                (click)="demoSort()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="filter">
              <pre class="p-3">{{ 'js.array.filter' | transloco }}</pre>
              <button
                (click)="demoFilter()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="reduce">
              <pre class="p-3">{{ 'js.array.reduce' | transloco }}</pre>
              <button
                (click)="demoReduce()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="reduceRight">
              <pre class="p-3">{{ 'js.array.reduceRight' | transloco }}</pre>
              <button
                (click)="demoReduceRight()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="map">
              <pre class="p-3">{{ 'js.array.map' | transloco }}</pre>
              <button
                (click)="demoMap()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="concat">
              <pre class="p-3">{{ 'js.array.concat' | transloco }}</pre>
              <pre class="p-3">{{ 'js.array.concatSpread' | transloco }}</pre>
              <button
                (click)="demoConcat()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="splice">
              <pre class="p-3">{{ 'js.array.splice' | transloco }}</pre>
              <button
                (click)="demoSplice()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="slice">
              <pre class="p-3">{{ 'js.array.slice' | transloco }}</pre>
              <button
                (click)="demoSlice()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="reverse">
              <pre class="p-3">{{ 'js.array.reverse' | transloco }}</pre>
              <button
                (click)="demoReverse()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
            <tab heading="copyWithin">
              <pre class="p-3">{{ 'js.array.copyWithin' | transloco }}</pre>
              <button
                (click)="demoCopyWithin()"
                class="btn btn-block btn-outline-success"
              >
                Test
              </button>
            </tab>
          </tabset>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Update</h3>
        <div cardBody>
          <dl>
            <dt>Value:</dt>
            <dd>{{ _simpleArray | json }}</dd>
            <dt>Length:</dt>
            <dd>{{ _simpleArray.length }}</dd>
          </dl>
          <button
            (click)="_simpleArray.push('valuePush')"
            class="btn mr-3 btn-outline-success"
          >
            Push
          </button>
          <button
            (click)="_simpleArray.unshift('valueUnshift')"
            class="btn mr-3 btn-outline-success"
          >
            Unshift
          </button>
          <button
            (click)="_simpleArray.pop()"
            class="btn mr-3 btn-outline-danger"
          >
            Pop
          </button>
          <button
            (click)="_simpleArray.shift()"
            class="btn mr-3 btn-outline-danger"
          >
            Shift
          </button>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array?retiredLocale=it"
            target="_blank"
          >
            MDN documentation
          </a>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
