<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Ngx mask'"></ks-title>
    </div>
    <div class="col text-right"></div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <form [formGroup]="group">
            <div class="mb-3">
              <label for="mask1">label</label>
              <input
                id="mask1"
                type="text"
                class="form-control"
                [mask]="'00/00/00 00:00:00'"
                [showMaskTyped]="true"
                formControlName="mask1" />
            </div>
            <div class="mb-3">
              <label for="mask2">label</label>
              <input
                id="mask2"
                type="text"
                class="form-control"
                formControlName="mask2"
                [mask]="'000-0000000'"
                [showMaskTyped]="true" />
            </div>
            <div class="mb-3">
              <label for="mask1">label</label>
              <input
                id="mask3"
                type="text"
                class="form-control"
                formControlName="mask3"
                [mask]="'0000-0000-0000-0000'"
                [showMaskTyped]="true" />
            </div>
            <div class="mb-3">
              <label for="mask4">label</label>
              <input
                id="mask4"
                type="text"
                class="form-control"
                formControlName="mask4"
                [hiddenInput]="true"
                [mask]="'XXX/X0/0000'"
                placeholder="***/*8/2020" />
            </div>
          </form>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>TS</h3>
        <div cardBody>
          <pre class="html">{{ 'lib.mask.mask1' | transloco }}</pre>
          <pre class="html">{{ 'lib.mask.mask2' | transloco }}</pre>
          <pre class="html">{{ 'lib.mask.mask3' | transloco }}</pre>
          <pre class="html">{{ 'lib.mask.mask4' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <ul>
            <li>
              <a href="https://www.npmjs.com/package/ngx-mask" target="_blank"
                >Ngx mask</a
              >
            </li>
          </ul>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
