@use '../shared/sass/input-search';

::ng-deep {
  .air-datepicker {
    z-index: 99999;

    &.-inline- {
      z-index: unset;
    }

    &.quang-calendar-disabled {
      pointer-events: none;
      opacity: 0.6;
    }

    .air-datepicker--pointer {
      display: none;
    }
    .air-datepicker-time {
      display: block;
      .air-datepicker-time--current {
        display: none;
      }
      .air-datepicker-time--sliders {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .air-datepicker-time--row {
          width: 100%;
          position: relative;
          height: 100%;
          &:first-child::after {
            content: ':';
            display: inline;
            font-size: 1rem;
            position: absolute;
            right: -0.65rem;
          }
          input {
            width: 100%;
            text-align: center;
            padding: 0.375rem 0.75rem;
            padding-left: 1.5rem;
            border-color: var(--bs-border-color);
            height: 38px;
          }
          .form-control:focus {
            box-shadow: unset !important;
          }
        }
      }
    }
    &.-inline-.-only-timepicker- {
      border: 0;
      padding: 0 !important;
      background-color: transparent;

      .air-datepicker--time {
        border: 0;
        padding: 0 !important;
      }

      .air-datepicker-time {
        padding: 0 !important;
      }
    }
  }
}

:host {
  display: block;

  .pointer {
    cursor: pointer;
  }

  .quang-date-inline-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
  }

  .input-date-container {
    display: flex;
  }

  input {
    flex: 1;

    &.with-button-calendar {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:disabled {
      border-radius: var(--bs-border-radius);
    }
  }

  .btn-outline-calendar {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: unset;
    display: flex;
    border-color: var(--bs-border-color);
  }

  .border-danger {
    border-color: var(--bs-form-invalid-border-color);
  }

  .border-success {
    border-color: var(--bs-form-valid-border-color);
  }
}
