:host {
  display: block;
}

.input-date-container {
  display: flex;
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 0.75rem;
      width: 0.75rem;
      background-image: url('./clear.svg');
      cursor: pointer;
    }
  }
}

.btn-outline-calendar {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
