@import '../shared/sass/input-search';

::ng-deep {
  .air-datepicker {
    z-index: 99999;
    .air-datepicker--pointer {
      display: none;
    }
  }
}

:host {
  display: block;

  .input-date-container {
    display: flex;
  }

  input {
    flex: 1;

    &.with-button-calendar {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .btn-outline-calendar {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: unset;
    border-color: var(--bs-border-color);
  }

  /*.air-datepicker-global-container {
    z-index: 1000;
    position: static;
  }*/

  .border-danger {
    border-color: var(--bs-form-invalid-border-color);
  }

  .border-success {
    border-color: var(--bs-form-valid-border-color);
  }
}
