<button
  (click)="onButtonClick()"
  aria-expanded="true"
  aria-haspopup="true"
  class="btn btn-default dropdown-toggle btn-block d-flex"
  data-toggle="dropdown"
  type="button"
>
  <span>{{ componentPlaceholder() | transloco }}</span>
  <span>
    <i class="icon-calendar"></i>
  </span>
</button>
<div
  class="date-picker-dropdown"
  id="date-range-picker"
>
  <div
    (scroll)="onMonthPickerScroll()"
    *ngIf="viewMonthPicker"
    id="month-picker"
  >
    <div>
      <div class="col accordian">
        <div class="tabs">
          <div id="month-picker-start"></div>

          <div
            *ngFor="let year of totalDisplayedYears"
            class="tab"
            id="tab-year-{{ year }}"
          >
            <input
              [(ngModel)]="accordianYear"
              attr.checked="{{ year == accordianYear }}"
              class="rd"
              id="rd{{ year }}"
              name="rd{{ year }}"
              type="radio"
              value="{{ year }}"
            />
            <label
              class="tab-label"
              for="rd{{ year }}"
              >{{ year }}</label
            >
            <div class="tab-content">
              <div class="month-picker">
                <span
                  [class.selected-month]="i == monthIndex && year == selectedYear"
                  (click)="setSelectedYearMonth(i, year)"
                  *ngFor="let month of monthNames; let i = index"
                  class="text-center cp month"
                >
                  {{ month | slice: 0 : 3 }}
                </span>
              </div>
            </div>
          </div>

          <div id="month-picker-end"></div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="date-picker"
    id="date-picker"
  >
    <ng-container *ngIf="viewDatePicker">
      <div>
        <div>
          <div class="d-flex month-bar">
            <span
              (click)="decreaseMonth()"
              class="month-change-btns"
            >
              <i class="icon-chevron-left"></i>
            </span>
            <div class="w100p d-flex j-flex-center">
              <div class="dropdown w100p">
                <div
                  (click)="showMonthPicker()"
                  class="d-flex btn btn-block m0 p0 pl10 pr10 btn-block"
                >
                  <div class="fs14">
                    {{ displayMonth }}
                  </div>
                  <div class="year-selector text-center">{{ selectedYear }}</div>
                </div>
              </div>
            </div>
            <span
              (click)="increaseMonth()"
              class="month-change-btns"
            >
              <i class="icon-chevron-right"></i>
            </span>
          </div>
        </div>
      </div>

      <table
        *ngIf="calendar"
        class="calendar-table m0"
      >
        <thead>
          <tr>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>Su</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let days of calendar | chunk: 7; let i = index">
            <ng-container *ngFor="let day of days; let j = index">
              <td
                [class.inrange]="day | inCalendarRange: selectedCalenderRange"
                [class.isRangeDate]="
                  selectedCalenderRange?.startDay?.date?.setHours(0, 0, 0, 0) === day?.date?.setHours(0, 0, 0, 0) ||
                  selectedCalenderRange?.endDay?.date?.setHours(0, 0, 0, 0) === day?.date?.setHours(0, 0, 0, 0)
                "
                [class.selected-day]="day?.date?.setHours(0, 0, 0, 0) === selectedDay?.date?.setHours(0, 0, 0, 0)"
                [ngClass]="{ 'not-selected-month-date': !day.selectedMonthDate, today: day.isToday }"
                (click)="selectDay(day)"
                class="calendar-day"
              >
                <div
                  [class.blue-date]="day.isToday"
                  class="calendar-day-header"
                >
                  <span>{{ day.date | date: 'dd' }}</span>
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div class="bg-white p5 pl10 pr10 d-flex">
        <a
          (click)="clearCalendar()"
          class="fs12"
          type="button"
          >Clear</a
        >
        <a
          (click)="setCurrentMonth()"
          class="fs12"
          type="button"
          >Today</a
        >
      </div>
    </ng-container>
  </div>
</div>
