<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input time'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/InputTimeComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-time
              [label]="'form.time.label'"
              hoursPlaceholder="00"
              minutesPlaceholder="00"
              secondsPlaceholder="00"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [tabIndex]="1"
              [id]="'date id'"
              [formName]="'form'"
              formControlName="time"></quang-input-time>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['time'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'date.time.html' | transloco }}</pre>
          <pre class="ts">{{ 'date.time.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Min-Max</h3>
        <div cardBody>
          <form [formGroup]="groupMinMax">
            <quang-input-time
              [label]="'form.time.label'"
              hoursPlaceholder="00"
              minutesPlaceholder="00"
              secondsPlaceholder="00"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [tabIndex]="1"
              [id]="'date id'"
              [minTime]="minTime"
              [maxTime]="maxTime"
              [formName]="'form'"
              formControlName="time"></quang-input-time>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ groupMinMax.controls['time'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'date.time-min-max.html' | transloco }}</pre>
          <pre class="ts">{{ 'date.time-min-max.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
