<section class="container-fluid" id="picture">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang code reader'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^13.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Qr Code</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/CodeReaderComponents.html"
          >Configurazioni</a
        >
        <div cardBody>
          <quang-code-reader
            [id]="'reader'"
            [formats]="qrCodeFormat"
            [errorMessage]="'No webcam available'"
            (whenFindCode)="logCode($event)"></quang-code-reader>
          {{ resultQr | json }}
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'image.code.qr-html' | transloco }}</pre>
          <pre class="ts">{{ 'image.code.qr-ts' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Bar Code</h3>
        <div cardBody>
          <quang-code-reader
            [id]="'readerBar'"
            [formats]="barCodeFormat"
            [errorMessage]="'No webcam available'"
            (whenFindCode)="logBarCode($event)"></quang-code-reader>
          {{ resultBar | json }}
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'image.code.bar-html' | transloco }}</pre>
          <pre class="ts">{{ 'image.code.bar-ts' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
