$bootstrap-light-primary: (
  50 : #e1effa,
  100 : #b3d6f2,
  200 : #80bbe9,
  300 : #4d9fe0,
  400 : #278bda,
  500 : #0176d3,
  600 : #016ece,
  700 : #0163c8,
  800 : #0159c2,
  900 : #0046b7,
  A100 : #e0eaff,
  A200 : #adc7ff,
  A400 : #7aa4ff,
  A700 : #6192ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bootstrap-light-secondary: (
  50 : #fafbfc,
  100 : #f2f5f8,
  200 : #e9eef3,
  300 : #e0e7ee,
  400 : #dae1ea,
  500 : #d3dce6,
  600 : #ced8e3,
  700 : #c8d3df,
  800 : #c2cedb,
  900 : #b7c5d5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bootstrap-light-danger: (
  50 : #fbe7e9,
  100 : #f5c2c7,
  200 : #ee9aa2,
  300 : #e7727d,
  400 : #e15361,
  500 : #dc3545,
  600 : #d8303e,
  700 : #d32836,
  800 : #ce222e,
  900 : #c5161f,
  A100 : #fff6f7,
  A200 : #ffc3c6,
  A400 : #ff9095,
  A700 : #ff777c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bootstrap-dark-primary: (
  50 : #e1effa,
  100 : #b3d6f2,
  200 : #80bbe9,
  300 : #4d9fe0,
  400 : #278bda,
  500 : #0176d3,
  600 : #016ece,
  700 : #0163c8,
  800 : #0159c2,
  900 : #0046b7,
  A100 : #e0eaff,
  A200 : #adc7ff,
  A400 : #7aa4ff,
  A700 : #6192ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bootstrap-dark-secondary: (
  50 : #fafbfc,
  100 : #f2f5f8,
  200 : #e9eef3,
  300 : #e0e7ee,
  400 : #dae1ea,
  500 : #d3dce6,
  600 : #ced8e3,
  700 : #c8d3df,
  800 : #c2cedb,
  900 : #b7c5d5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bootstrap-dark-danger: (
  50 : #fbe7e9,
  100 : #f5c2c7,
  200 : #ee9aa2,
  300 : #e7727d,
  400 : #e15361,
  500 : #dc3545,
  600 : #d8303e,
  700 : #d32836,
  800 : #ce222e,
  900 : #c5161f,
  A100 : #fff6f7,
  A200 : #ffc3c6,
  A400 : #ff9095,
  A700 : #ff777c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
