<div class="home-intro text-center">
  <h1>Welcome to Quang Playground</h1>
  <p>
    Explore the comprehensive Angular components and utilities provided by Quang. Below, you'll find detailed
    documentation to help you get started.
  </p>
  <img
    alt="quang-logo"
    src="assets/img/quang-logo-bg.png"
  />
</div>
<div class="home-container">
  <playground-component-documentation
    [componentType]="HomeComponent"
    [customReadmePath]="readmePath()"
    [readmeOnly]="true"
  ></playground-component-documentation>
</div>
