<div class="mb-3 input-date-range">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="ngControl?.invalid && ngControl?.dirty && errorMessage"
    [class.is-valid]="ngControl?.valid && ngControl?.dirty && successMessage"
    [htmlFor]="id + '-date-range'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.['required']">*</span>
  </label>
  <div
    [class.input-group-lg]="size === 'lg'"
    [class.input-group-sm]="size === 'sm'"
    class="input-group"
  >
    <input
      [attr.aria-label]="ariaLabel | transloco"
      [autocomplete]="autocomplete"
      [autofocus]="autofocus"
      [bsConfig]="config"
      [bsValue]="_value"
      [class.is-invalid]="ngControl?.invalid && ngControl?.dirty && errorMessage"
      [class.is-valid]="ngControl?.valid && successMessage"
      [datesDisabled]="disabledDates"
      [id]="id + '-date-range'"
      [isDisabled]="_disabled"
      [maxDate]="maxDate"
      [minDate]="minDate"
      [ngClass]="customClass"
      [placeholder]="placeholder | transloco"
      [placement]="placement"
      [tabIndex]="tabIndex"
      (blur)="onTouched()"
      (bsValueChange)="onBsValueChange($event)"
      #drp="bsDaterangepicker"
      #input
      bsDaterangepicker
      class="form-control"
      type="text"
    />
    <div class="input-group-append">
      <button
        [ngClass]="buttonClass"
        [ngStyle]="{ 'pointer-event': _disabled ? 'none' : null }"
        [tabIndex]="tabIndex"
        (click)="drp.toggle()"
        #inputBtn
        aria-label="calendar-button"
        class="btn"
        type="button"
      >
        <ng-content select="[calendarIcon]"></ng-content>
      </button>
    </div>

    <div class="valid-feedback">
      {{ _successMessage | transloco }}
    </div>
    <div
      [attr.aria-errormessage]="errorMessageKey | transloco"
      class="invalid-feedback"
    >
      {{ errorMessageKey | transloco }}
    </div>
  </div>
  <small
    [hidden]="ngControl?.dirty && ((ngControl?.valid && successMessage) || (ngControl?.invalid && errorMessage))"
    [id]="id + '-date-range-help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
