<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Transloco'"></ks-title>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>Utilizzo</h4>
        <div cardBody>
          <img
            class="mb-2"
            src="/kitchen-sink/assets/images/transloco/pipe.png"
            alt="" />
          <p>
            Per fare il render delle traduzioni potete usare la relativa pipe
            transloco. Le chiavi sono le chiavi piatte del json che inserite
            i18n si consiglia di utilizzare la seguente logica nel crearle:
            modulo.pagina.entita.dettaglio
          </p>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>File .json</h4>
        <div cardBody>
          <img
            class="mb-2"
            src="/kitchen-sink/assets/images/transloco/directory.png"
            alt="" />
          <p>
            Nella directory asset create una directory i18n, al su interno
            aggiungete i file json delle lingue (es. en.json, it.json). Sempre
            in questa directory potete aggiungere le sotto-directory per gestire
            il lazy loading delle traduzioni, vi basta creare una directory con
            il nome definito nel modulo e al suo interno aggiungere i file delle
            lingue come per la root di i18n
          </p>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>Lazy loading</h4>
        <div cardBody>
          <pre class="ts">{{ 'lib.transloco.lazy' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <ul>
            <li><a href="https://ngneat.github.io/transloco/">Transloco</a></li>
          </ul>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
