<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id + '-date'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.['required']">*</span>
  </label>
  <div
    [class.input-group-lg]="size === 'lg'"
    [class.input-group-sm]="size === 'sm'"
    class="input-group"
  >
    <input
      [attr.aria-disabled]="_disabled"
      [attr.aria-label]="ariaLabel | transloco"
      [autocomplete]="autocomplete"
      [bsConfig]="config"
      [bsValue]="_value"
      [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
      [class.is-valid]="control?.valid && control?.dirty && successMessage"
      [datesDisabled]="disabledDates"
      [daysDisabled]="disabledDaysOfTheWeek"
      [id]="id + '-date'"
      [isDisabled]="_disabled"
      [maxDate]="maxDate"
      [minDate]="minDate"
      [ngClass]="customClass"
      [placeholder]="placeholder | transloco"
      [placement]="placement"
      [tabIndex]="tabIndex"
      (blur)="onTouched()"
      (bsValueChange)="onBsValueChange($event)"
      #drp="bsDatepicker"
      #input
      bsDatepicker
      class="form-control"
      type="text"
    />
    <div
      *ngIf="!_disabled"
      class="input-group-append"
    >
      <button
        [ngClass]="buttonClass"
        [tabindex]="tabIndex"
        (click)="_disabled ? null : drp.toggle()"
        #inputBtn
        aria-label="calendar-button"
        class="btn"
        type="button"
      >
        <ng-content select="[calendarIcon]"></ng-content>
      </button>
    </div>

    <div class="valid-feedback">
      {{ _successMessage | transloco }}
    </div>
    <div
      [attr.aria-errormessage]="_errorMessage"
      class="invalid-feedback"
    >
      {{ _errorMessage | transloco }}
    </div>
  </div>
  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-date-help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
