<div class="mb-3 input-date">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="isInvalid()"
    [class.is-valid]="isValid()"
    [for]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.['required']">*</span>
  </label>
  <div
    [class.input-group-lg]="size === 'lg'"
    [class.input-group-sm]="size === 'sm'"
    class="input-group has-validation"
  >
    <input
      [attr.aria-disabled]="ngControl?.disabled"
      [attr.aria-label]="ariaLabel | transloco"
      [autocomplete]="autocomplete"
      [bsConfig]="bsConfig"
      [class.is-invalid]="isInvalid()"
      [class.is-valid]="isValid()"
      [datesDisabled]="disabledDates"
      [daysDisabled]="disabledDaysOfTheWeek"
      [formControl]="internalDateControl"
      [id]="id"
      [maxDate]="maxDate"
      [minDate]="minDate"
      [ngClass]="customClass"
      [placeholder]="placeholder | transloco"
      [placement]="placement"
      [tabIndex]="tabIndex"
      (blur)="onTouched()"
      (change)="onInputChange($event)"
      (click)="handleDatePickerInputClick($event)"
      #datePickerDirective="bsDatepicker"
      #datePickerInput
      bsDatepicker
      class="form-control"
      type="text"
    />
    <button
      [disabled]="_disabled"
      [ngClass]="buttonClass"
      [tabindex]="tabIndex"
      (click)="ngControl?.disabled ? null : datePickerDirective.toggle()"
      *ngIf="!ngControl?.disabled"
      aria-label="calendar-button"
      class="btn"
      type="button"
    >
      <ng-content select="[calendarIcon]"></ng-content>
    </button>
    <div
      *ngIf="isValid()"
      class="valid-feedback"
    >
      {{ successMessageKey | transloco }}
    </div>
    <div
      [attr.aria-errormessage]="errorMessageKey"
      *ngIf="isInvalid()"
      class="invalid-feedback"
    >
      {{ errorMessageKey | transloco }}
    </div>
  </div>
  <small
    [hidden]="isValid() || isInvalid()"
    [id]="id + '-date-help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ helpMessageKey | transloco }}
  </small>
</div>
