<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quix bottom sheet'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <button
            type="button"
            (click)="openBottom()"
            class="btn btn-outline-success mb-3">
            Apri bottom sheet
          </button>
          <dl>
            <dt>Eventi:</dt>
            <dl *ngFor="let e of events">{{ e | json }}</dl>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="ts">{{ 'dialog.bottom.code' | transloco }}</pre>
          <pre class="html">{{ 'dialog.bottom.html' | transloco }}</pre>
          <pre class="html">{{ 'dialog.bottom.bottomCode' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a href="https://material.angular.io/components/bottom-sheet/overview"
            >Bottom sheet</a
          >
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
