<div
  [ngStyle]="{
    'max-height': optionListMaxHeight(),
    '--option-list-width': elementWidth(),
    '--option-list-top': elementTop(),
    '--option-list-bottom': elementBottom(),
  }"
  #optionList
  class="option-list"
>
  <ul>
    <li
      [class.m-0]="last"
      [class.selected]="selectionMode() === 'single' ? getSelected(item) : null"
      *ngFor="let item of selectOptionsList(); let i = index; let last = last"
      class="item"
    >
      <input
        [checked]="getSelected(item)"
        [class.d-none]="selectionMode() === 'single' || !item?.value"
        [disabled]="_isDisabled()"
        [id]="i + '-' + item.value + '-checkbox'"
        [name]="i + '-' + item.value + '-checkbox'"
        [ngClass]="componentClass()"
        [tabIndex]="componentTabIndex()"
        [value]="getSelected(item)"
        (blur)="onBlurHandler($event)"
        (input)="onSelectItem(item)"
        #inputCheckbox
        class="form-check-input"
        type="checkbox"
      />
      <label
        [class.ms-3]="selectionMode() === 'multiple' && item?.value"
        [for]="i + '-' + item.value + '-checkbox'"
        class="form-check-label checkbox-label w-100"
      >
        {{ translateValue() ? (item.label | transloco) : item.label }}
      </label>
    </li>
  </ul>
</div>
