<div
  [attr.aria-activedescendant]="getActiveDescendantId()"
  [attr.aria-label]="componentLabel()"
  [ngStyle]="{
    'max-height': optionListMaxHeight(),
    visibility: _positioned() ? 'visible' : 'hidden',
    '--option-list-width': elementWidth(),
    '--option-list-top': elementTop(),
    '--option-list-bottom': elementBottom(),
  }"
  (blur)="onBlurHandler($event)"
  #optionListContainer
  aria-orientation="vertical"
  class="option-list"
  id="optionList"
  role="listbox"
  tabindex="0"
>
  <ul role="presentation">
    @for (
      item of selectOptionsList();
      track (item.value ?? '') + (item.label ?? '');
      let i = $index;
      let last = $last
    ) {
      <li
        [attr.aria-selected]="getSelected(item)"
        [class.m-0]="last"
        [class.selected]="selectionMode() === 'single' ? getSelected(item) : null"
        [id]="'item-' + i"
        (mousedown)="$event.stopImmediatePropagation(); onSelectItem(item)"
        class="item"
        role="option"
      >
        <input
          [checked]="getSelected(item)"
          [class.d-none]="selectionMode() === 'single' || !item?.value"
          [disabled]="true"
          [id]="i + '-' + item.value + '-checkbox'"
          [name]="i + '-' + item.value + '-checkbox'"
          [ngClass]="componentClass()"
          [value]="getSelected(item)"
          (blur)="onBlurHandler($event)"
          #inputCheckbox
          aria-hidden="true"
          class="form-check-input opacity-100"
          tabindex="-1"
          type="checkbox"
        />
        <label
          [class.ms-3]="selectionMode() === 'multiple' && item?.value"
          [for]="i + '-' + item.value + '-checkbox'"
          class="form-check-label checkbox-label w-100 opacity-100"
        >
          @if (!item.renderer) {
            {{ translateValue() ? (item.label | transloco) : item.label }}
          }
          <ng-container
            [ngTemplateOutlet]="item.renderer ?? null"
            [ngTemplateOutletContext]="{ $implicit: item, selected: getSelected(item), index: i }"
          ></ng-container>
        </label>
      </li>
    }
  </ul>
</div>
