<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <input
    [adaptivePosition]="adaptivePosition"
    [attr.aria-label]="ariaLabel | transloco"
    [autocomplete]="autocomplete"
    [autofocus]="autofocus"
    [class.form-control-lg]="size === 'lg'"
    [class.form-control-sm]="size === 'sm'"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [id]="id"
    [isAnimated]="true"
    [name]="id"
    [ngClass]="customClass"
    [ngModel]="_value"
    [placeholder]="placeholder | transloco"
    [readOnly]="readonly"
    [tabIndex]="tabIndex"
    [typeahead]="suggestions$"
    [typeaheadAsync]="true"
    [typeaheadMinLength]="startAfter"
    [typeaheadOptionsInScrollableView]="18"
    [typeaheadOptionsLimit]="optionLimit"
    [typeaheadScrollable]="true"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    (typeaheadOnSelect)="onSelectHandler($event)"
    #input
    class="form-control"
  />
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
