<h3>{{ 'title.components.date' | transloco }}</h3>
<form
  [formGroup]="testForm()"
  *ngIf="showInput()"
>
  <quang-date
    [dateFormat]="dateFormat()"
    [errorMap]="errors()"
    [formControl]="testForm().controls.testInput"
    [isReadonly]="isReadonly()"
    [timepicker]="true"
    buttonClass=""
    componentLabel="form.label.date"
    successMessage="form.label.success"
  >
    <svg-icon
      [applyClass]="true"
      calendarIcon
      src="assets/icons/svg/calendar.svg"
    ></svg-icon>
  </quang-date>
</form>
<div class="d-flex gap-3">
  <button
    (click)="changeFormEnabled()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.enabled' | transloco: { enabled: testForm().enabled } }}
  </button>
  <button
    (click)="changeFormInputRequired()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.required' | transloco: { required: getIsRequiredInput() } }}
  </button>
  <button
    (click)="changeVisibility()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.changeVisibility' | transloco }}
  </button>
  <button
    (click)="recreateForm()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.recreateForm' | transloco }}
  </button>
  <button
    (click)="setFormValues()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.setForm' | transloco }}
  </button>
  <button
    (click)="checkCurrentFormValueAndValidity()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.checkForm' | transloco }}
  </button>
  <button
    (click)="changeDateFormat()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.changeDateFormat' | transloco }}
  </button>
  <button
    (click)="setReadonly()"
    class="btn btn-outline-secondary"
  >
    {{ 'form.buttons.readonly' | transloco: { readonly: isReadonly() } }}
  </button>
</div>
