<!-- <div class="d-flex">
  <div class="d-flex flex-column w-75 gap-3 p-3 border-end">
    <h1>{{ 'welcomeMessage' | transloco: { title: title() } }}</h1>

    <div class="d-flex gap-4 flex-wrap">
      <button
        (click)="changeLanguage('it')"
        class="btn btn-primary text-uppercase"
      >
        {{ 'buttons.setLanguage' | transloco: { lang: 'it' } }}
      </button>
      <button
        (click)="changeLanguage('en')"
        class="btn btn-outline-primary text-uppercase"
      >
        {{ 'buttons.setLanguage' | transloco: { lang: 'en' } }}
      </button>
    </div>
    <div class="d-flex gap-4 flex-wrap">
      <button
        (click)="showLoader()"
        class="btn btn-secondary d-flex gap-2"
      >
        <svg-icon
          [applyClass]="true"
          src="assets/icons/svg/reload.svg"
          style="width: 20px"
        ></svg-icon>
        <span>{{ 'buttons.loader' | transloco }}</span>
      </button>
      <button
        (click)="testApiCall()"
        class="btn btn-outline-secondary"
      >
        {{ 'buttons.apiCall' | transloco }}
      </button>
      <button
        (click)="testUnauthorized()"
        class="btn btn-outline-secondary"
      >
        {{ 'buttons.unauthorized' | transloco }}
      </button>
    </div>


    <quang-loader></quang-loader>
    <quang-toast></quang-toast>
   
    <router-outlet />

  </div>

  <div
    class="d-flex flex-column w-25 gap-4 p-3"
    style="position: fixed; right: 0"
  >
    <h3>{{ 'colors.colorScheme' | transloco }}</h3>
    <div class="d-flex gap-4">
      <button
        (click)="changeTheme('light')"
        class="btn btn-outline-primary d-flex gap-2"
      >
        {{ 'colors.setLight' | transloco }}
        <svg-icon
          [applyClass]="true"
          src="assets/icons/svg/light.svg"
          style="width: 20px"
        ></svg-icon>
      </button>
      <button
        (click)="changeTheme('dark')"
        class="btn btn-primary d-flex gap-2"
      >
        {{ 'colors.setDark' | transloco }}
        <svg-icon
          [applyClass]="true"
          src="assets/icons/svg/dark.svg"
          style="width: 20px"
        ></svg-icon>
      </button>
    </div>
    <div
      *ngFor="let color of colorScheme"
      class="d-flex gap-3"
    >
      <div class="color-scheme-sample bg-{{ color }}"></div>
      {{ color | transloco }}
    </div>
  </div>
</div> -->
<playground-menu />
<div class="px-2">
  <router-outlet />
  <quang-toast></quang-toast>
  <quang-loader></quang-loader>
</div>
