<h1>{{ 'welcomeMessage' | transloco: { title: title() } }}</h1>
<div class="d-flex">
  <button (click)="changeLanguage('it')">IT LANG</button>
  <button (click)="changeLanguage('en')">EN LANG</button>
  <button (click)="showLoader()">LOADER</button>
  <button (click)="openModal()">MODAL</button>
  <div>
    <button
      [quangTooltip]="title()"
      (click)="openToast()"
      class="w-100"
      quangTooltipPosition="top"
    >
      TOAST
    </button>
    <p
      [quangTooltip]="title()"
      class="text-muted m-0"
      quangTooltipPosition="bottom"
    >
      With QuangTooltip
    </p>
  </div>
  <div
    [quangPopover]="popoverTest"
    quangPopoverPosition="right"
    showMethod="click"
  >
    POPOVER TEST
  </div>
</div>
<quang-loader>
  <h1>test</h1>
</quang-loader>
<quang-toast></quang-toast>
<quang-modal
  (backdropClick)="closeModal()"
  *ngIf="showModal()"
  animation="top"
  position="right"
>
  <ng-container header>
    <div class="d-flex justify-content-between mt-2">
      <h2>{{ title() | transloco }}</h2>
      <button
        (click)="closeModal()"
        type="button"
      >
        X
      </button>
    </div>
  </ng-container>
  <ng-container body>
    <h3>{{ content() }}</h3>
  </ng-container>
  <ng-container footer>
    <div class="mb-3">
      <button
        (click)="closeModal()"
        type="button"
      >
        CLOSE
      </button>
      <button
        (click)="btnAction()"
        type="button"
      >
        ACTION
      </button>
    </div>
  </ng-container>
</quang-modal>
<router-outlet />

<ng-template #popoverTest>
  <span>test works!</span>
</ng-template>
