quang-toast {
  ::ng-deep {
    .warning {
      background-color: #ffc107;
    }
  }
}

.color-scheme-sample {
  width: 25px;
  height: 25px;
}

.popover-test-button:hover {
  border-color: #43499a;
  color: #43499a;
}
