<div class="mb-3 wysiwyg-editor">
  <label
    [attr.aria-label]="ariaLabel"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id + '-wysiwyg-editor'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <quill-editor
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [format]="returnHtml ? 'html' : 'text'"
    [id]="id + '-wysiwyg-editor'"
    [maxLength]="max"
    [minLength]="min"
    [modules]="modules"
    [ngClass]="customClass"
    [ngModel]="_value"
    [placeholder]="placeholder | transloco"
    [preserveWhitespace]="preserveWhitespace"
    [readOnly]="readonly"
    [sanitize]="sanitize"
    (onBlur)="emitBlur()"
    (onContentChanged)="onChangedHandler($event)"
    (onEditorCreated)="checkFocus($event)"
    #input
    class="form-control"
  ></quill-editor>
  <div class="valid-feedback">
    {{ _successMessage | transloco }}
  </div>
  <div
    [attr.aria-errormessage]="_errorMessage"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + 'Help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
