<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input password'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/InputPasswordComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-password
              [autocomplete]="'off'"
              [autofocus]="true"
              [buttonClass]="['btn', 'btn-outline-secondary']"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'password id'"
              [label]="'form.password.label'"
              [max]="50"
              [min]="3"
              [placeholder]="'form.password.ph'"
              [successMessage]="true"
              [tabIndex]="1"
              [viewPassword]="true"
              formControlName="password"
            >
              <i
                class="fas fa-eye-slash"
                iconHide
              ></i>
              <i
                class="fas fa-eye"
                iconView
              ></i>
            </quang-input-password>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['password'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.password.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.password.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
