<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input radio'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/InputRadioComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-radio
              [autocomplete]="'off'"
              [autofocus]="true"
              [errorMessage]="true"
              [formName]="'form'"
              [groupName]="'radio-group'"
              [helpMessage]="true"
              [id]="'radio id'"
              [label]="'form.radio.label'"
              [labelValue]="'text'"
              [radioList]="list"
              [returnValue]="'value'"
              [successMessage]="true"
              [tabIndex]="1"
              formControlName="radio"
            >
            </quang-input-radio>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['radio'].value }}</dd>
          </dl>
          <button
            (click)="disable()"
            class="btn btn-outline-danger"
          >
            Disable
          </button>
          <button
            (click)="enable()"
            class="btn btn-outline-success ms-3"
          >
            Enable
          </button>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.radio.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.radio.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
