<h3>{{ 'title.components.input' | transloco }}</h3>
<form
  [formGroup]="testForm()"
  *ngIf="showInput()"
>
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body d-flex">
      <quang-autocomplete
        [errorMap]="errors()"
        [isReadonly]="isReadonly()"
        [selectOptions]="stringList"
        class="col-6"
        componentLabel="form.label.input"
        formControlName="testInput"
        selectionMode="single"
        successMessage="tutto bello!"
      ></quang-autocomplete>
    </div>
  </div>
  <!-- <quang-autocomplete
    [errorMap]="errors()"
    [isReadonly]="isReadonly()"
    [selectOptions]="numberList"
    componentLabel="form.label.input"
    formControlName="testInputMultiple"
    selectionMode="multiple"
    successMessage="tutto bello!"
  ></quang-autocomplete> -->
  {{ testForm().value | json }}
</form>
<button (click)="changeFormEnabled()">change form enabled {{ testForm().enabled }}</button>
<button (click)="changeFormInputRequired()">change input form required. Actual {{ getIsRequiredInput() }}</button>
<button (click)="changeVisibility()">change visibility</button>
<button (click)="recreateForm()">recreate form</button>
<button (click)="setFormValues()">set form</button>
<button (click)="checkCurrentFormValueAndValidity()">check current form value and validity</button>
<button (click)="setReadonly()">current readonly: {{ isReadonly() }}</button>
