<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="errorMessage && ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
    [class.is-valid]="successMessage && ngControl?.valid && (ngControl?.dirty || ngControl?.touched)"
    [htmlFor]="id + '-number'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.required">*</span></label
  >
  <input
    [attr.aria-errormessage]="errorMessage && errorMessageKey ? id + '-text-error' : ''"
    [attr.aria-invalid]="errorMessage && ngControl?.invalid ? true : false"
    [attr.aria-label]="ariaLabel | transloco"
    [autocomplete]="autocomplete"
    [class.form-control-lg]="size === 'lg'"
    [class.form-control-sm]="size === 'sm'"
    [class.is-invalid]="errorMessage && ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
    [class.is-valid]="successMessage && ngControl?.valid && (ngControl?.dirty || ngControl?.touched)"
    [disabled]="_disabled"
    [id]="id + '-number'"
    [max]="max"
    [min]="min"
    [ngClass]="customClass"
    [pattern]="pattern"
    [placeholder]="placeholder | transloco"
    [readOnly]="readonly"
    [step]="step"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-control"
    type="number"
  />
  <div class="valid-feedback">
    {{ _successMessage | transloco }}
  </div>
  <div
    [attr.aria-errormessage]="errorMessage && errorMessageKey ? (errorMessageKey | transloco) : ''"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
  <small
    [attr.aria-hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((successMessage && ngControl?.valid) || (errorMessage && ngControl?.invalid))
    "
    [hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((successMessage && ngControl?.valid) || (errorMessage && ngControl?.invalid))
    "
    [id]="id + '-number-help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
