<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [htmlFor]="id + '-number'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!control?.errors?.required">*</span></label
  >
  <input
    [attr.aria-label]="ariaLabel"
    [autocomplete]="autocomplete"
    [class.form-control-lg]="size === 'lg'"
    [class.form-control-sm]="size === 'sm'"
    [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
    [class.is-valid]="control?.valid && control?.dirty && successMessage"
    [disabled]="_disabled"
    [id]="id + '-number'"
    [max]="max"
    [min]="min"
    [ngClass]="customClass"
    [pattern]="pattern"
    [placeholder]="placeholder | transloco"
    [readOnly]="readonly"
    [step]="step"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-control"
    type="number"
  />
  <div class="valid-feedback">
    {{ _successMessage | transloco }}
  </div>
  <div
    [attr.aria-errormessage]="errorMessage && _errorMessage ? _errorMessage : ''"
    class="invalid-feedback"
  >
    {{ _errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small
    [hidden]="control?.dirty && ((control?.valid && successMessage) || (control?.invalid && errorMessage))"
    [id]="id + '-number-help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
