<div class="mb-3">
  <label [htmlFor]="id"
         class="form-label"
         [class.is-valid]="control?.valid && control?.dirty && successMessage"
         [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
         [attr.aria-label]="ariaLabel | transloco"
         *ngIf="label">
    {{label | transloco}}
    <span [hidden]="!control?.errors?.required">*</span>
  </label>
  <select class="form-select"
          [id]="id"
          [ngClass]="customClass"
          [class.is-valid]="control?.valid && control?.dirty && successMessage"
          [class.is-invalid]="control?.invalid && control?.dirty && errorMessage"
          [class.form-select-lg]="size === 'lg'"
          [class.form-select-sm]="size === 'sm'"
          (input)="onChangedHandler($event)"
          (blur)="onTouched()"
          [tabIndex]="tabIndex"
          [attr.aria-label]="ariaLabel | transloco"
          #input
  >
    <option [ngValue]="null"
            *ngIf="nullOption"></option>
    <option *ngFor="let item of list"
            [value]="item"
            [selected]="item === _value">
      {{translateValue ? (item | transloco) : item }}
    </option>
  </select>
  <div class="valid-feedback"
       aria-live="assertive">
    {{_successMessage | transloco}}
  </div>
  <div class="invalid-feedback"
       aria-live="polite"
       [id]="id + '-error'">
    {{_errorMessage | transloco: { requiredValue: _requiredValue } }}
  </div>
  <small [id]="id + '-help'"
         aria-live="assertive"
         class="form-text text-muted"
         [hidden]="control?.dirty && (control?.valid && successMessage || control?.invalid && errorMessage)"
         *ngIf="helpMessage">
    {{_helpMessage | transloco}}
  </small>
</div>
