<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="errorMessage && ngControl?.invalid && ngControl?.dirty"
    [class.is-valid]="successMessage && ngControl?.valid && ngControl?.dirty"
    [htmlFor]="id + '-time'"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.['required']">*</span>
  </label>
  <timepicker
    [accessKey]="true"
    [attr.aria-errormessage]="errorMessage && errorMessageKey ? id + '-text-error' : ''"
    [attr.aria-invalid]="errorMessage && ngControl?.invalid ? true : false"
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="errorMessage && ngControl?.invalid && ngControl?.dirty"
    [class.is-valid]="successMessage && ngControl?.valid && ngControl?.dirty"
    [disabled]="_disabled"
    [hoursPlaceholder]="hoursPlaceholder | transloco"
    [hourStep]="hourStep"
    [id]="id + '-time'"
    [max]="maxTime"
    [min]="minTime"
    [minutesPlaceholder]="minutesPlaceholder | transloco"
    [minuteStep]="minuteStep"
    [mousewheel]="true"
    [ngClass]="customClass"
    [secondsPlaceholder]="secondsPlaceholder | transloco"
    [secondsStep]="secondStep"
    [showMeridian]="showMeridianButton"
    [showSeconds]="showSecond"
    [showSpinners]="showSelector"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (ngModelChange)="onChangedHandler($event)"
    [(ngModel)]="_value"
    #input
  ></timepicker>
  <small
    [attr.aria-hidden]="
      ngControl?.dirty && ((successMessage && ngControl?.valid) || (errorMessage && ngControl?.invalid))
    "
    [hidden]="ngControl?.dirty && ((successMessage && ngControl?.valid) || (errorMessage && ngControl?.invalid))"
    [id]="id + '-time-help'"
    *ngIf="helpMessage"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
  <div class="valid-feedback">
    {{ _successMessage | transloco }}
  </div>
  <div
    [attr.aria-errormessage]="errorMessageKey | transloco"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
</div>
