:host {
  --bs-popover-arrow-height: 1rem;
  --bs-popover-border-width: 1px;
  --bs-popover-arrow-width: 0.5rem;
  --bs-popover-arrow-border: var(--bs-border-color);
  --box-shadow-bg: rgba(0, 0, 0, 0.16);
}

.popover-container {
  box-shadow: var(--box-shadow-bg);
  margin: 1rem;
  margin-top: 0.7rem;
  min-width: 50px;
  max-width: 400px;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  pointer-events: none;
  position: relative;
  min-height: 1rem;
  padding: 1rem;

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:after {
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--bs-body-bg) transparent;
    border-width: var(--bs-popover-arrow-width);
  }

  &:before {
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--bs-border-color) transparent;
    border-width: calc(var(--bs-popover-arrow-width) + 1px);
  }
}
