:host {
  --bs-popover-arrow-height: 1rem;
  --bs-popover-border-width: 1px;
  --bs-popover-arrow-width: 1rem;
  --bs-popover-arrow-border: var(--bs-border-color);
  --box-shadow-bg: rgba(0, 0, 0, 0.16);
}

.popover-container {
  padding: 0.75rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 var(--box-shadow-bg);
  z-index: 999999999;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  position: relative;

  .popover-arrow {
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: red;

    // &::before,
    // &::after {
    //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    //   position: absolute;
    //   display: block;
    //   content: '';
    //   border-color: transparent;
    //   border-style: solid;
    //   border-width: 0;
    // }
  }
}
