:host {
  --bs-popover-border-width: 1px;
  --bs-popover-arrow-width: 0.5rem;
  --bs-popover-arrow-border: var(--bs-border-color);
  --box-shadow-bg: rgba(0, 0, 0, 0.16);
}

.popover-container {
  box-shadow: var(--box-shadow-bg);
  background: var(--bs-body-bg);
  border: var(--bs-popover-border-width) solid var(--bs-border-color);
  pointer-events: none;
  position: relative;
  padding: 1rem;

  &.bottom {
    &:after,
    &:before {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.top {
    &:after,
    &:before {
      top: 100%;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
    }
  }

  &.end {
    &:after,
    &:before {
      right: 100%;
      top: 50%;
      transform: translateY(-50%) rotate(270deg);
    }
  }

  &.start {
    &:after,
    &:before {
      left: 100%;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:after {
    border-color: transparent transparent var(--bs-body-bg) transparent;
    border-width: var(--bs-popover-arrow-width);
  }

  &:before {
    border-color: transparent transparent var(--bs-border-color) transparent;
    border-width: calc(var(--bs-popover-arrow-width) + 1px);
  }
}
