<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quix paginator service'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/injectables/QuixPaginatorService.html"
          >Configurazioni</a
        >
        <div cardBody>
          <table class="table">
            <thead>
              <tr>
                <th>Valore</th>
                <th>Testo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of list">
                <td>{{ i.value }}</td>
                <td>{{ i.text }}</td>
              </tr>
            </tbody>
          </table>
          <quang-paginator
            [id]="'paginator id'"
            [pageSize]="10"
            [sizeList]="sizeList"
            [tabIndex]="1"
            [totalItems]="all.length"
            (whenPageChange)="pageChange($event)"
            (whenSizeChange)="sizeChange($event)"
          >
          </quang-paginator>
          <dl>
            <dt>Pagina:</dt>
            <dd>{{ page }}</dd>
            <dt>Size:</dt>
            <dd>{{ size }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.paginatorService.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.paginatorService.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
