#form-array-array {
  .first-level {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px dotted $secondary;

    .second-level {
      margin-top: 1rem;
      padding: 1rem;
      border: 1px dashed $secondary;

      .form-group {
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid $secondary;
      }
    }
  }
}
