<section class="container-fluid" id="virtual">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Virtual scroll'"></ks-title>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>Demo</h4>
        <div cardBody>
          <dl>
            <dt>Is Android:</dt>
            <dd>{{ platform.ANDROID }}</dd>
            <dt>Is iOS:</dt>
            <dd>{{ platform.IOS }}</dd>
            <dt>Is Firefox:</dt>
            <dd>{{ platform.FIREFOX }}</dd>
            <dt>Is Blink:</dt>
            <dd>{{ platform.BLINK }}</dd>
            <dt>Is Webkit:</dt>
            <dd>{{ platform.WEBKIT }}</dd>
            <dt>Is Trident:</dt>
            <dd>{{ platform.TRIDENT }}</dd>
            <dt>Is Edge:</dt>
            <dd>{{ platform.EDGE }}</dd>
            <dt>Is Safari:</dt>
            <dd>{{ platform.SAFARI }}</dd>
            <dt>Supported input types:</dt>
            <dd>{{ supportedInputTypes | json }}</dd>
            <dt>Supports passive event listeners:</dt>
            <dd>{{ supportsPassiveEventListeners }}</dd>
            <dt>Supports scroll behavior:</dt>
            <dd>{{ supportsScrollBehavior }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>HTML/TS</h4>
        <div cardBody>
          <pre class="html">{{ 'lib.platform.html' | transloco }}</pre>
          <pre class="ts">{{ 'lib.platform.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <ul>
            <li>
              <a
                href="https://material.angular.io/cdk/platform/overview"
                target="_blank"
                >Material platform</a
              >
            </li>
          </ul>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
