<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang paginator'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/PaginatorComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <quang-paginator
            [id]="'paginator id'"
            [pageIndex]="0"
            [pageSize]="10"
            [showTotalElementsCount]="true"
            [sizeList]="sizeList"
            [tabIndex]="1"
            [totalItems]="list.length"
            (whenPageChange)="pageChange($event)"
            (whenSizeChange)="sizeChange($event)"
          >
          </quang-paginator>
          <dl>
            <dt>Pagina:</dt>
            <dd>{{ page }}</dd>
            <dt>Size:</dt>
            <dd>{{ size }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.paginator.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.paginator.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a
            href="https://material.angular.io/components/paginator/overview"
            target="_blank"
            >Material paginator</a
          >
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
