<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input fraction'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-fraction
              [addButtonClass]="['btn', 'btn-outline-success']"
              [autocomplete]="'off'"
              [autofocus]="true"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'test'"
              [label]="'form.fraction.label'"
              [max]="255"
              [min]="0"
              [removeButtonClass]="['btn', 'btn-outline-danger']"
              [stepFraction]="0.1"
              [stepInteger]="1"
              [successMessage]="true"
              [tabIndex]="1"
              formControlName="fraction"
            >
              <i
                addIntegerIcon
                class="fas fa-plus"
              ></i>
              <i
                class="fas fa-minus"
                removeIntegerIcon
              ></i>
              <i
                addFractionIcon
                class="fas fa-plus"
              ></i>
              <i
                class="fas fa-minus"
                removeFractionIcon
              ></i>
            </quang-input-fraction>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['fraction'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.fraction.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.fraction.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
