<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Form control'"></ks-title>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <div class="mb-3">
            <input type="text" class="form-control" [formControl]="control" />
          </div>
          value: {{ control.value | json }}
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'form.control.html' | transloco }}</pre>
          <pre class="ts">{{ 'form.control.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
