<div class="playground-showcase">
  <!-- Page Header -->
  <div class="showcase-header">
    <h2>{{ 'title.components.autocomplete' | transloco }}</h2>
    <p class="lead">
      {{ 'examples.autocomplete.description' | transloco }}
    </p>
  </div>

  <!-- Table of Contents -->
  <nav class="showcase-toc">
    <h5>{{ 'examples.autocomplete.toc' | transloco }}</h5>
    <ul>
      <li>
        <a
          (click)="scrollTo($event, 'simple')"
          href="#"
          >{{ 'examples.autocomplete.simple.title' | transloco }}</a
        >
      </li>
      <li>
        <a
          (click)="scrollTo($event, 'async')"
          href="#"
          >{{ 'examples.autocomplete.async.title' | transloco }}</a
        >
      </li>
      <li>
        <a
          (click)="scrollTo($event, 'free-text')"
          href="#"
          >{{ 'examples.autocomplete.freeText.title' | transloco }}</a
        >
      </li>
      <li>
        <a
          (click)="scrollTo($event, 'multiple')"
          href="#"
          >{{ 'examples.autocomplete.multiple.title' | transloco }}</a
        >
      </li>
      <li>
        <a
          (click)="scrollTo($event, 'interactive')"
          href="#"
          >{{ 'examples.autocomplete.interactive.title' | transloco }}</a
        >
      </li>
      <li>
        <a
          (click)="scrollTo($event, 'template')"
          href="#"
          >{{ 'examples.autocomplete.template.title' | transloco }}</a
        >
      </li>
    </ul>
  </nav>

  <!-- Examples Section -->
  <section class="showcase-examples">
    <!-- Simple Autocomplete -->
    <div
      class="example-section"
      id="simple"
    >
      <playground-example-viewer
        [description]="'examples.autocomplete.simple.description' | transloco"
        [htmlCode]="simpleHtml"
        [title]="'examples.autocomplete.simple.title' | transloco"
        [tsCode]="simpleTs"
      >
        <playground-autocomplete-simple-example />
      </playground-example-viewer>
    </div>

    <!-- Async Autocomplete -->
    <div
      class="example-section"
      id="async"
    >
      <playground-example-viewer
        [description]="'examples.autocomplete.async.description' | transloco"
        [htmlCode]="asyncHtml"
        [title]="'examples.autocomplete.async.title' | transloco"
        [tsCode]="asyncTs"
      >
        <playground-autocomplete-async-example />
      </playground-example-viewer>
    </div>

    <!-- Free Text Autocomplete -->
    <div
      class="example-section"
      id="free-text"
    >
      <playground-example-viewer
        [description]="'examples.autocomplete.freeText.description' | transloco"
        [htmlCode]="freeTextHtml"
        [title]="'examples.autocomplete.freeText.title' | transloco"
        [tsCode]="freeTextTs"
      >
        <playground-autocomplete-free-text-example />
      </playground-example-viewer>
    </div>

    <!-- Multiple Selection -->
    <div
      class="example-section"
      id="multiple"
    >
      <playground-example-viewer
        [description]="'examples.autocomplete.multiple.description' | transloco"
        [htmlCode]="multipleHtml"
        [title]="'examples.autocomplete.multiple.title' | transloco"
        [tsCode]="multipleTs"
      >
        <playground-autocomplete-multiple-example />
      </playground-example-viewer>
    </div>

    <!-- Interactive Example with Toggles -->
    <div
      class="example-section"
      id="interactive"
    >
      <playground-example-viewer
        [description]="'examples.autocomplete.interactive.description' | transloco"
        [htmlCode]="interactiveHtml"
        [title]="'examples.autocomplete.interactive.title' | transloco"
        [tsCode]="interactiveTs"
      >
        <playground-autocomplete-interactive-example />
      </playground-example-viewer>
    </div>

    <!-- Template-based options -->
    <div
      class="example-section"
      id="template"
    >
      <playground-example-viewer
        [description]="'examples.autocomplete.template.description' | transloco"
        [htmlCode]="templateHtml"
        [title]="'examples.autocomplete.template.title' | transloco"
        [tsCode]="templateTs"
      >
        <playground-autocomplete-template-example />
      </playground-example-viewer>
    </div>
  </section>

  <!-- API Documentation -->
  <section class="showcase-api">
    <h3>{{ 'examples.autocomplete.api' | transloco }}</h3>
    <playground-component-documentation
      [componentType]="QuangAutocompleteComponent"
      [customReadmePath]="componentsReadmePath()"
      [readmeOnly]="true"
    />
  </section>
</div>
