<h3>{{ 'title.components.input' | transloco }}</h3>
<form
  [formGroup]="testForm()"
  *ngIf="showInput()"
>
  <quang-input
    [componentType]="inputType()"
    [errorMap]="errors()"
    [isReadonly]="isReadonly()"
    componentLabel="form.label.input"
    formControlName="testInput"
    successMessage="tutto bello!"
  ></quang-input>
  {{ testForm().value | json }}
</form>
<div class="d-flex gap-4">
  <button
    (click)="changeFormEnabled()"
    class="btn btn-outline-secondary"
  >
    change form enabled {{ testForm().enabled }}
  </button>
  <button
    (click)="changeFormInputRequired()"
    class="btn btn-outline-secondary"
  >
    change input form required. Actual {{ getIsRequiredInput() }}
  </button>
  <button
    (click)="changeVisibility()"
    class="btn btn-outline-secondary"
  >
    change visibility
  </button>
  <button
    (click)="recreateForm()"
    class="btn btn-outline-secondary"
  >
    recreate form
  </button>
  <button
    (click)="setFormValues()"
    class="btn btn-outline-secondary"
  >
    set form
  </button>
  <button
    (click)="checkCurrentFormValueAndValidity()"
    class="btn btn-outline-secondary"
  >
    check current form value and validity
  </button>
  <button
    (click)="setReadonly()"
    class="btn btn-outline-secondary"
  >
    current readonly: {{ isReadonly() }}
  </button>
</div>
<select [(ngModel)]="inputType">
  <option
    [value]="type"
    *ngFor="let type of inputTypes()"
  >
    {{ type }}
  </option>
</select>
