<h3>{{ 'title.components.input' | transloco }}</h3>
<form
  [formGroup]="testForm()"
  *ngIf="showInput()"
>
  <quang-input
    [componentType]="inputType()"
    [errorMap]="errors()"
    [formControl]="testForm().controls.testInput"
    componentLabel="form.label.input"
    successMessage="tutto bello!"
  ></quang-input>
</form>
<button (click)="changeFormEnabled()">change form enabled {{ testForm().enabled }}</button>
<button (click)="changeFormInputRequired()">change input form required. Actual {{ getIsRequiredInput() }}</button>
{{ testForm().getRawValue() | json }} valid? {{ testForm().valid }}
<button (click)="changeVisibility()">change visibility</button>
<button (click)="recreateForm()">recreate form</button>
<button (click)="setFormValues()">set form</button>
<select [(ngModel)]="inputType">
  <option
    [value]="type"
    *ngFor="let type of inputTypes()"
  >
    {{ type }}
  </option>
</select>
