<div
  [class.form-inline]="labelInline"
  [ngClass]="
    direction === 'row' ? 'direction-row' : direction === 'reverse-row' ? 'direction-reverse-row' : 'direction-column'
  "
  class="mb-3 toggle-wrapper form-check form-switch"
>
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.required">*</span>
  </label>
  <input
    [attr.aria-checked]="_value"
    [attr.aria-describedby]="helpMessage && _helpMessage ? id + '-help' : ''"
    [attr.aria-disabled]="_disabled"
    [attr.aria-errormessage]="errorMessage && errorMessage ? id + '-error' : ''"
    [attr.aria-invalid]="ngControl?.invalid && errorMessage ? true : false"
    [attr.aria-label]="'ariaLabel' | transloco"
    [checked]="_value"
    [class.is-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched) && errorMessage"
    [class.is-valid]="ngControl?.valid && (ngControl?.dirty || ngControl?.touched) && successMessage"
    [disabled]="_disabled"
    [id]="id"
    [name]="id"
    [ngClass]="customClass"
    [readOnly]="readonly"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-check-input"
    role="switch"
    type="checkbox"
  />
</div>
<div class="feedback">
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
  <small
    [hidden]="
      (ngControl?.dirty || ngControl?.touched) &&
      ((ngControl?.valid && successMessage) || (ngControl?.invalid && errorMessage))
    "
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
