<div id="httpErrorModal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title | transloco }}</h4>
    <button
      (click)="closeModal()"
      aria-label="Close"
      class="close pull-right"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="iconWrapper">
      <i
        *ngIf="error?.status === 400"
        class="fas fa-times-circle"
      ></i>
      <i
        *ngIf="error?.status === 401"
        class="fas fa-user-lock"
      ></i>
      <i
        *ngIf="error?.status === 402"
        class="fas fa-money-bill-alt"
      ></i>
      <i
        *ngIf="error?.status === 403"
        class="fas fa-user-slash"
      ></i>
      <i
        *ngIf="error?.status === 404"
        class="far fa-compass"
      ></i>
      <i
        *ngIf="error?.status === 405"
        class="fas fa-ban"
      ></i>
      <i
        *ngIf="error?.status === 406"
        class="fas fa-ban"
      ></i>
      <i
        *ngIf="error?.status === 407"
        class="fas fa-project-diagram"
      ></i>
      <i
        *ngIf="error?.status === 408"
        class="fas fa-stopwatch"
      ></i>
      <i
        *ngIf="error?.status === 409"
        class="fas fa-compress-arrows-alt"
      ></i>
      <i
        *ngIf="error?.status === 410"
        class="fas fa-eraser"
      ></i>
      <i
        *ngIf="error?.status === 413"
        class="fas fa-expand"
      ></i>
      <i
        *ngIf="error?.status === 414"
        class="fas fa-ruler-horizontal"
      ></i>
      <i
        *ngIf="error?.status === 415"
        class="fas fa-file-code"
      ></i>
      <i
        *ngIf="error?.status === 500"
        class="fas fa-server"
      ></i>
      <i
        *ngIf="error?.status === 501"
        class="fas fa-code"
      ></i>
      <i
        *ngIf="error?.status === 502"
        class="fas fa-project-diagram"
      ></i>
      <i
        *ngIf="error?.status === 503"
        class="fas fa-laptop-house"
      ></i>
      <i
        *ngIf="error?.status === 504"
        class="fas fa-stopwatch"
      ></i>
    </div>
    <p>
      {{ 'httpErrorModal.' + error?.status + '.errorMessage' | transloco }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      (click)="closeModal()"
      class="btn btn-secondary"
      type="button"
    >
      {{ 'httpErrorModal.ok' | transloco }}
    </button>
  </div>
</div>
