<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang chart pie'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/ChartDoughnutComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <quang-chart-doughnut
            [id]="'test'"
            [height]="'50vh'"
            [chartData]="data"
            [color]="['#3e885b', '#debac0', '#f3c677', '#66c3ff', '#dd7230']"
            (chartClick)="onCLick($event)"></quang-chart-doughnut>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'chart.doughnut.html' | transloco }}</pre>
          <pre class="ts">{{ 'chart.doughnut.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a
            href="https://echarts.apache.org/examples/en/index.html#chart-type-pie"
            target="_blank"
            >Echarts</a
          >
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
