<picture
  [attr.aria-describedby]="ariaLabel"
  [id]="id"
>
  <source
    [attr.data-srcset]="picture?.xxl"
    [srcset]="loadingSrc"
    #source
    media="(min-width:1400px)"
  />
  <source
    [attr.data-srcset]="picture?.xl"
    [srcset]="loadingSrc"
    #source
    media="(min-width:1200px)"
  />
  <source
    [attr.data-srcset]="picture?.lg"
    [srcset]="loadingSrc"
    #source
    media="(min-width:992px)"
  />
  <source
    [attr.data-srcset]="picture?.md"
    [srcset]="loadingSrc"
    #source
    media="(min-width:768px)"
  />
  <source
    [attr.data-srcset]="picture?.sm"
    [srcset]="loadingSrc"
    #source
    media="(min-width:576px)"
  />
  <img
    [alt]="alt"
    [attr.data-src]="picture?.xs ?? picture?.defaultSrc"
    [src]="loadingSrc"
    #image
  />
</picture>
