<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang multi-select obj'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/MultiSelectStrgComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-multi-select-strg
              [autofocus]="true"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'multi-select-strg id'"
              [label]="'form.multi-select-strg.label'"
              [list]="list"
              [rowVisible]="6"
              [successMessage]="true"
              [tabIndex]="1"
              formControlName="items"
            >
            </quang-multi-select-strg>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls.items.value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.multi-select-strg.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.multi-select-strg.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
