<div class="autocomplete-container">
  <label
    [htmlFor]="componentId()"
    *ngIf="componentLabel()"
    class="form-label"
  >
    {{ componentLabel() | transloco }}
    <span [hidden]="!_isRequired()">*</span>
  </label>
  <input
    [attr.required]="getIsRequiredControl()"
    [class.is-invalid]="_showErrors()"
    [class.is-valid]="_showSuccess()"
    [disabled]="_isDisabled() || isReadonly()"
    [id]="componentId()"
    [ngClass]="componentClass()"
    [placeholder]="componentPlaceholder() | transloco"
    [tabIndex]="componentTabIndex()"
    [value]="_inputValue()"
    (blur)="onBlurInput($event)"
    (click)="showOptionVisibility()"
    (input)="onChangeInput($event)"
    #selectInput
    autocomplete="off"
    class="form-control"
    type="text"
  />
  <quang-option-list
    [_isDisabled]="_isDisabled()"
    [_value]="_value()"
    [componentClass]="componentClass()"
    [componentLabel]="componentLabel()"
    [componentTabIndex]="componentTabIndex()"
    [nullOption]="false"
    [optionListMaxHeight]="optionListMaxHeight()"
    [parentID]="componentId()"
    [parentType]="ParentType"
    [selectButtonRef]="selectInput"
    [selectOptions]="_filteredOptions()"
    [translateValue]="translateValue()"
    (blurHandler)="onBlurOptionList($event)"
    (changedHandler)="onValueChange($event)"
    *ngIf="_showOptions()"
    #optionList
    selectionMode="single"
  ></quang-option-list>
  {{ _currentErrorMessage() }}
  <div class="valid-feedback">
    {{ successMessage() | transloco }}
  </div>
  <div class="invalid-feedback">
    {{ _currentErrorMessage() | transloco: _currentErrorMessageExtraData() }}
  </div>
  <small
    [hidden]="_showSuccess() || _showErrors()"
    *ngIf="helpMessage()"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ helpMessage() | transloco }}
  </small>
</div>
