:host {
  display: block;
  --chip-max-length: none;
}
.autocomplete-container {
  margin-bottom: 1rem;
  position: relative;
}

.chip:has(.btn-chip:disabled) {
  &:hover {
    filter: unset;
    cursor: unset;
  }
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  color: var(--bs-btn-color);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bs-primary-border-subtle);
  height: 2rem;

  p {
    margin: 0;
    max-width: var(--chip-max-length);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .btn-chip {
    text-align: end;
    padding: 0;
    min-width: unset;
    &:hover {
      opacity: 80%;
    }
    &:active {
      border-color: transparent;
    }
    &:focus-visible {
      border: 1px solid var(--bs-primary);
    }
    svg {
      color: var(--bs-primary);
      vertical-align: sub;
    }
  }
}

.autocomplete-container:has(.horizontal) {
  position: relative;
}

.horizontal {
  display: flex;
  .chip-container {
    max-width: 70%;
    margin-bottom: 0;
    margin-left: 0.5rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    position: absolute;
    align-items: center;
    .chip {
      white-space: nowrap;
    }
  }
  input {
    min-width: 30%;
  }
}

::-webkit-scrollbar {
  height: 0;
}
