/* Add your styles for the Data Handling page here */
.data-handling-container {
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 0;
  }
}

.card-body {
  pre {
    background-color: var(--bs-card-cap-bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    position: relative;
  }
}
