<div class="data-handling-container">
  <h1>{{ 'menu.dataHandling' | transloco }}</h1>

  @for (fn of conversionFunctions; track $index) {
    <div class="card mb-3">
      <div class="card-header">
        <h5>{{ fn.functionName }}</h5>
        <button
          [quangTooltip]="'utils.copyContent' | transloco"
          (click)="copyToClipboard(fn.import, fn.exampleUsage)"
          class="btn btn-copy"
          type="button"
        >
          <svg-icon src="assets/icons/svg/copy.svg" />
        </button>
      </div>
      <div class="card-body">
        <p>{{ fn.explanationKey | transloco }}</p>
        <pre>
            <span class="mb-3">{{ fn.import }}</span>
            <span>{{ fn.exampleUsage }}</span>
        </pre>
      </div>
    </div>
  }
</div>
