<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Starships'"></ks-title>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <button
            (click)="getStarships()"
            class="btn btn-primary mb-3"
          >
            Carica
          </button>
          <table class="table">
            <thead>
              <tr>
                <th>Modello</th>
                <th>Nome</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of starships$ | async">
                <td>{{ s.model }}</td>
                <td>{{ s.name }}</td>
              </tr>
            </tbody>
          </table>
          <pre>
          {{ falcon$ | async | json }}
          </pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
