$header-bg: '/kitchen-sink/assets/images/core/header.png';

$bootstrap-primary: (
  50: #e0efff,
  100: #b3d7ff,
  200: #80bdff,
  300: #4da3ff,
  400: #268fff,
  500: #007bff,
  600: #0073ff,
  700: #0068ff,
  800: #005eff,
  900: #004bff,
  A100: #ffffff,
  A200: #f2f5ff,
  A400: #bfceff,
  A700: #a6baff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$bootstrap-secondary: (
  50: #edeeef,
  100: #d3d6d8,
  200: #b6babe,
  300: #989ea4,
  400: #828a91,
  500: #6c757d,
  600: #646d75,
  700: #59626a,
  800: #4f5860,
  900: #3d454d,
  A100: #a9d3fd,
  A200: #77b9fc,
  A400: #41a0ff,
  A700: #2793ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$bootstrap-danger: (
  50: #fbe7e9,
  100: #f5c2c7,
  200: #ee9aa2,
  300: #e7727d,
  400: #e15361,
  500: #dc3545,
  600: #d8303e,
  700: #d32836,
  800: #ce222e,
  900: #c5161f,
  A100: #fff6f7,
  A200: #ffc3c6,
  A400: #ff9095,
  A700: #ff777c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
