<section
  class="container-fluid"
  id="video"
>
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang audio'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^13.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/AudioComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <quang-audio
            [id]="'test'"
            [src]="'/kitchen-sink/assets/audios/audio.mp3'"
            [type]="'audio/mpeg'"
          ></quang-audio>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML</h3>
        <div cardBody>
          <pre class="html">{{ 'image.audio.html' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
