<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang autocomplete string'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/AutocompleteStrg.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-autocomplete-strg
              [autofocus]="true"
              [dataList]="list"
              [errorMessage]="true"
              [formName]="'form'"
              [helpMessage]="true"
              [id]="'test'"
              [successMessage]="true"
              [tabIndex]="1"
              (searchTextChange)="searchTextChange($event)"
              formControlName="text"
            ></quang-autocomplete-strg>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['text'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'core.autocomplete-strg.html' | transloco }}</pre>
          <pre class="ts">{{ 'core.autocomplete-strg.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
