<div class="mb-3">
  <label
    [attr.aria-label]="ariaLabel | transloco"
    [class.is-invalid]="ngControl?.invalid && ngControl?.dirty && errorMessage"
    [class.is-valid]="ngControl?.valid && ngControl?.dirty && successMessage"
    [htmlFor]="id"
    *ngIf="label"
    class="form-label"
  >
    {{ label | transloco }}
    <span [hidden]="!ngControl?.errors?.required">*</span>
  </label>
  <select
    [attr.aria-label]="ariaLabel | transloco"
    [class.form-select-lg]="size === 'lg'"
    [class.form-select-sm]="size === 'sm'"
    [class.is-invalid]="ngControl?.invalid && ngControl?.dirty && errorMessage"
    [class.is-valid]="ngControl?.valid && ngControl?.dirty && successMessage"
    [id]="id"
    [ngClass]="customClass"
    [tabIndex]="tabIndex"
    (blur)="onTouched()"
    (input)="onChangedHandler($event)"
    #input
    class="form-select"
  >
    <option
      [ngValue]="null"
      *ngIf="nullOption"
    ></option>
    <option
      [selected]="item === _value"
      [value]="item"
      *ngFor="let item of list"
    >
      {{ translateValue ? (item | transloco) : item }}
    </option>
  </select>
  <div
    aria-live="assertive"
    class="valid-feedback"
  >
    {{ _successMessage | transloco }}
  </div>
  <div
    [id]="id + '-error'"
    aria-live="polite"
    class="invalid-feedback"
  >
    {{ errorMessageKey | transloco: { requiredValue } }}
  </div>
  <small
    [hidden]="ngControl?.dirty && ((ngControl?.valid && successMessage) || (ngControl?.invalid && errorMessage))"
    [id]="id + '-help'"
    *ngIf="helpMessage"
    aria-live="assertive"
    class="form-text text-muted"
  >
    {{ _helpMessage | transloco }}
  </small>
</div>
