<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'vConsole'"></ks-title>
    </div>
    <div class="col text-right"></div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          <button
            class="btn btn-primary me-3"
            (click)="openConsole()"
            type="button">
            Aggiungi console
          </button>
          <button
            class="btn btn-outline-danger"
            (click)="closeConsole()"
            type="button">
            Rimuovi console
          </button>
        </div>
        <div cardBody></div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h4 cardHeader>TS</h4>
        <div cardBody>
          <pre class="ts">{{ 'lib.vconsole.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <ul>
            <li>
              <a href="https://www.npmjs.com/package/vconsole">NPM vconsole</a>
            </li>
          </ul>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
