<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quix layout service'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Demo</h3>
        <div cardBody>
          {{ orientation | json }}
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>TS</h3>
        <div cardBody>
          <pre class="ts">{{ 'utility.layout.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <quang-card-header>
        <h3 cardHeader>Approfondimenti</h3>
        <div cardBody>
          <a
            href="https://material.angular.io/cdk/layout/overview"
            target="_blank"
            >Material layout</a
          >
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
