<section class="container-fluid">
  <div class="row">
    <div class="col">
      <ks-title [title]="'Quang input date'"></ks-title>
    </div>
    <div class="col text-right">
      <h3>@quix/quang: ^11.0.0</h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-action-header>
        <h3 cardHeader>Demo</h3>
        <a
          cardAction
          href="https://rd.quix.it/quang/components/InputDateComponent.html"
          >Configurazioni</a
        >
        <div cardBody>
          <form [formGroup]="group">
            <quang-input-date
              [label]="'form.date.label'"
              [placeholder]="'form.date.ph'"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [autocomplete]="'off'"
              [tabIndex]="1"
              [id]="'date id'"
              [autofocus]="true"
              [dateFormat]="'YYYY-MM-DD'"
              [formName]="'form'"
              [buttonClass]="['btn', 'btn-outline-secondary']"
              formControlName="date">
              <i calendarIcon class="fas fa-calendar-alt"></i>
            </quang-input-date>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ group.controls['date'].value }}</dd>
          </dl>
        </div>
      </quang-card-action-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'date.date.html' | transloco }}</pre>
          <pre class="ts">{{ 'date.date.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Min-Max</h3>
        <div cardBody>
          <form [formGroup]="groupMinMax">
            <quang-input-date
              [label]="'form.date.label'"
              [placeholder]="'form.date.ph'"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [autocomplete]="'off'"
              [tabIndex]="1"
              [id]="'date-min-max id'"
              [dateFormat]="'YYYY-MM-DD'"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [formName]="'form'"
              [buttonClass]="['btn', 'btn-outline-secondary']"
              formControlName="date">
              <i calendarIcon class="fas fa-calendar-alt"></i>
            </quang-input-date>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ groupMinMax.controls['date'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'date.date-min-max.html' | transloco }}</pre>
          <pre class="ts">{{ 'date.date-min-max.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>Formato ISO</h3>
        <div cardBody>
          <form [formGroup]="groupISO">
            <quang-input-date
              [label]="'form.date.label'"
              [placeholder]="'form.date.ph'"
              [errorMessage]="true"
              [successMessage]="true"
              [helpMessage]="true"
              [autocomplete]="'off'"
              [tabIndex]="1"
              [id]="'date-iso id'"
              [dateFormat]="'YYYY-MM-DD'"
              [returnISODate]="true"
              [formName]="'form'"
              [buttonClass]="['btn', 'btn-outline-secondary']"
              formControlName="date">
              <i calendarIcon class="fas fa-calendar-alt"></i>
            </quang-input-date>
          </form>
          <dl>
            <dt>Value:</dt>
            <dd>{{ groupISO.controls['date'].value }}</dd>
          </dl>
        </div>
      </quang-card-header>
    </div>
    <div class="col-6">
      <quang-card-header>
        <h3 cardHeader>HTML/TS</h3>
        <div cardBody>
          <pre class="html">{{ 'date.date-iso.html' | transloco }}</pre>
          <pre class="ts">{{ 'date.date-iso.code' | transloco }}</pre>
        </div>
      </quang-card-header>
    </div>
  </div>
</section>
