<div
  [attr.aria-orientation]="tabsOrientation()"
  [class.flex-column]="tabsOrientation() === TabsOrientation.Vertical"
  class="d-flex mt-4"
  id="tabs-container"
  role="tablist"
>
  @for (tab of tabs(); track tab.id) {
    @if (tab.renderer) {
      <ng-container
        [ngTemplateOutlet]="tab.renderer"
        [ngTemplateOutletContext]="{
          $implicit: tab,
          selected: isTabSelected(tab),
          index: getTabIndex(tab),
          onSelect: onSelectTab.bind(this),
        }"
      ></ng-container>
    } @else {
      <button
        [attr.aria-selected]="isTabSelected(tab)"
        [class.selected]="isTabSelected(tab)"
        [disabled]="isTabDisabled(tab)"
        (click)="onSelectTab(tab)"
        class="flex-grow-1 btn btn-only-text"
        role="tab"
        type="button"
      >
        {{ tab.label | transloco }}
      </button>
    }
  }
</div>
