<div
  class="d-flex mt-4 flex-column flex-lg-row"
  id="tabs-container"
>
  @for(tab of tabs(); track tab.id) {
    @if(tab.renderer) {
      <ng-container
        [ngTemplateOutlet]="tab.renderer"
        [ngTemplateOutletContext]="{ $implicit: tab, selected: isTabSelected(tab), index: getTabIndex(tab) }"
      ></ng-container>
    } @else {
      <button
        [class.selected]="isTabSelected(tab)"
        [disabled]="isTabDisabled(tab)"
        (click)="onSelectTab(tab)"
        class="flex-grow-1 btn btn-only-text"
        type="button"
      >
        {{ tab.label | transloco }}
      </button>
    }
  }
</div>
