<div
  [class.hide]="!isShowing()"
  [class.show]="isShowing()"
  [ngClass]="[_currentToast()?.position ?? '', _currentToast()?.type ?? '']"
  aria-atomic="true"
  aria-live="assertive"
  class="toast fade"
  role="alert"
>
  @if (!_currentToast()?.hideHeader) {
    <div class="toast-header">
      @if (!_currentToast()?.customIcon) {
        <span
          [ngClass]="_currentToast()?.type"
          class="rounded me-2"
        ></span>
      }
      @if (_currentToast()?.customIcon) {
        <img
          [src]="_currentToast()?.customIcon"
          alt=""
        />
      }
      @if (_currentToast()?.title) {
        <strong class="me-auto">{{ _currentToast()?.title | transloco }}</strong>
      }
      @if (_currentToast()?.date) {
        <small>{{ _currentToast()?.date ?? '' | date: _currentToast()?.dateFormat }}</small>
      }
      @if (_currentToast()?.showCloseButton) {
        <button
          (click)="close()"
          aria-label="Close"
          class="ms-2 mb-1 btn-close"
          data-dismiss="toast"
          type="button"
        >
          <span aria-hidden="true"></span>
        </button>
      }
    </div>
  }
  @if (_currentToast()?.text) {
    <div class="toast-body">
      {{ _currentToast()?.text?.trim() | transloco: { textValue: _currentToast()?.textValue?.trim() } }}
    </div>
  }
  <ng-container *ngTemplateOutlet="_currentToast()?.customTemplate ?? null"></ng-container>
</div>
