<div
  [class.hide]="!_showToast()"
  [class.show]="_showToast()"
  [ngClass]="_currentToast()?.position"
  aria-atomic="true"
  aria-live="assertive"
  class="toast fade"
  role="alert"
>
  <div class="toast-header">
    <span
      [ngClass]="_currentToast()?.type"
      class="rounded me-2"
    ></span>
    <strong class="me-auto">{{ _currentToast()?.title | transloco }}</strong>
    <small *ngIf="_currentToast()?.date">{{ _currentToast()?.date ?? '' | date: _currentToast()?.dateFormat }}</small>
    <button
      (click)="close()"
      *ngIf="_currentToast()?.showCloseButton"
      aria-label="Close"
      class="me-2 mb-1 btn-close"
      data-dismiss="toast"
      type="button"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div
    *ngIf="_currentToast()?.text || _currentToast()?.customTemplate"
    class="toast-body"
  >
    {{ _currentToast()?.text | transloco: { textValue: _currentToast()?.textValue } }}
  </div>
  <ng-container *ngTemplateOutlet="_currentToast()?.customTemplate ?? null"></ng-container>
</div>
